## 📥 Loading & Merging City Data

We start with:
- **10 JSON files**, one per city (detailed weather metadata),  
- **2 CSV files** containing electricity + weather data for all cities.

For each CSV, we:
1. **Filter** its rows to the one city it belongs to.  
2. **Merge** with that city’s JSON-derived DataFrame on the shared key(s).  

This produces 10 per‑city DataFrames (`df_merged`, `df_merged1`, … `df_merged9`).  
We then **concatenate** all ten into a single unified `df_all` for downstream preprocessing.

#### df_merged = seattle(df)
#### df_merged1 = phoenix(df1)
#### df_merged2 = nyc(df2)
#### df_merged3 = san jose(df3)
#### df_merged4 = dallas(df4)
#### df_merged5 = houston(df5)
#### df_merged6 = la(df6)
#### df_merged7 = philadelphia(df7)
#### df_merged8 = san antonio(df8)
#### df_merged9 = san diego(df9)

In [1]:
import os
import pandas as pd

drive    = "/Volumes/meen"            
folder   = "archive"
filename = "cleaned_balance_data.csv"
filename1 = "cleaned_subregion_data.csv"
csv_path = os.path.join(drive, folder, filename)
csv_path1 = os.path.join(drive, folder, filename1)
df = pd.read_csv(csv_path)
print(df.head(10))

  company           local_time             utc_time  demand     city
0    AZPS  2018-07-01 01:00:00  2018-07-01 08:00:00  3497.0  phoenix
1    AZPS  2018-07-01 02:00:00  2018-07-01 09:00:00  3256.0  phoenix
2    AZPS  2018-07-01 03:00:00  2018-07-01 10:00:00  3065.0  phoenix
3    AZPS  2018-07-01 04:00:00  2018-07-01 11:00:00  2929.0  phoenix
4    AZPS  2018-07-01 05:00:00  2018-07-01 12:00:00  2833.0  phoenix
5    AZPS  2018-07-01 06:00:00  2018-07-01 13:00:00  2736.0  phoenix
6    AZPS  2018-07-01 07:00:00  2018-07-01 14:00:00  2764.0  phoenix
7    AZPS  2018-07-01 08:00:00  2018-07-01 15:00:00  2895.0  phoenix
8    AZPS  2018-07-01 09:00:00  2018-07-01 16:00:00  3096.0  phoenix
9    AZPS  2018-07-01 10:00:00  2018-07-01 17:00:00  3293.0  phoenix

In [2]:
df = df[df['city'] == 'seattle']
df = df.reset_index(drop=True)
print(df)

      company           local_time             utc_time  demand     city
0         SCL  2018-07-01 01:00:00  2018-07-01 08:00:00   809.0  seattle
1         SCL  2018-07-01 02:00:00  2018-07-01 09:00:00   779.0  seattle
2         SCL  2018-07-01 03:00:00  2018-07-01 10:00:00   753.0  seattle
3         SCL  2018-07-01 04:00:00  2018-07-01 11:00:00   748.0  seattle
4         SCL  2018-07-01 05:00:00  2018-07-01 12:00:00   745.0  seattle
...       ...                  ...                  ...     ...      ...
15955     SCL  2020-04-25 20:00:00  2020-04-26 03:00:00     NaN  seattle
15956     SCL  2020-04-25 21:00:00  2020-04-26 04:00:00     NaN  seattle
15957     SCL  2020-04-25 22:00:00  2020-04-26 05:00:00     NaN  seattle
15958     SCL  2020-04-25 23:00:00  2020-04-26 06:00:00     NaN  seattle
15959     SCL  2020-04-26 00:00:00  2020-04-26 07:00:00     NaN  seattle

[15960 rows x 5 columns]

In [3]:
print(type(df['utc_time'][0]))

<class 'str'>

In [4]:
# make the local_time column a datetime object
df['utc_time'] = pd.to_datetime(df['utc_time'])
print(df)

      company           local_time            utc_time  demand     city
0         SCL  2018-07-01 01:00:00 2018-07-01 08:00:00   809.0  seattle
1         SCL  2018-07-01 02:00:00 2018-07-01 09:00:00   779.0  seattle
2         SCL  2018-07-01 03:00:00 2018-07-01 10:00:00   753.0  seattle
3         SCL  2018-07-01 04:00:00 2018-07-01 11:00:00   748.0  seattle
4         SCL  2018-07-01 05:00:00 2018-07-01 12:00:00   745.0  seattle
...       ...                  ...                 ...     ...      ...
15955     SCL  2020-04-25 20:00:00 2020-04-26 03:00:00     NaN  seattle
15956     SCL  2020-04-25 21:00:00 2020-04-26 04:00:00     NaN  seattle
15957     SCL  2020-04-25 22:00:00 2020-04-26 05:00:00     NaN  seattle
15958     SCL  2020-04-25 23:00:00 2020-04-26 06:00:00     NaN  seattle
15959     SCL  2020-04-26 00:00:00 2020-04-26 07:00:00     NaN  seattle

[15960 rows x 5 columns]

In [5]:
print(type(df['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [6]:
#df_weather = pd.read_json('seattle.json', orient='records')
df_weather = pd.read_json('/Volumes/meen/seattle.json', orient='records')
print(df_weather)

             time        summary                 icon  precipIntensity  \
0      1530428400       Overcast               cloudy           0.0000
1      1530432000       Overcast               cloudy           0.0000
2      1530435600       Overcast               cloudy           0.0000
3      1530439200       Overcast               cloudy           0.0000
4      1530442800       Overcast               cloudy           0.0007
...           ...            ...                  ...              ...
16569  1590112800  Partly Cloudy    partly-cloudy-day           0.0204
16570  1590116400  Partly Cloudy    partly-cloudy-day           0.0106
16571  1590120000  Partly Cloudy  partly-cloudy-night           0.0058
16572  1590123600  Partly Cloudy  partly-cloudy-night           0.0023
16573  1590127200  Partly Cloudy  partly-cloudy-night           0.0003

       precipProbability  temperature  apparentTemperature  dewPoint  \
0                   0.00        59.32                59.32     55.21
1                   0.00        58.96                58.96     55.24
2                   0.00        58.56                58.56     55.45
3                   0.00        58.26                58.26     55.68
4                   0.15        58.04                58.04     55.68
...                  ...          ...                  ...       ...
16569               0.25        52.91                52.91     45.30
16570               0.23        52.19                52.19     45.58
16571               0.19        51.22                51.22     46.04
16572               0.12        50.07                50.07     46.23
16573               0.06        48.90                47.28     45.42

       humidity  pressure  windSpeed  windGust  windBearing  cloudCover  \
0          0.86    1022.1       4.81      4.81        207.0        1.00
1          0.87    1022.0       5.02      5.02        201.0        1.00
2          0.89    1022.1       4.20      4.20        199.0        1.00
3          0.91    1022.1       3.66      3.66        195.0        1.00
4          0.92    1022.0       4.19      4.19        190.0        1.00
...         ...       ...        ...       ...          ...         ...
16569      0.75    1015.1       3.79      4.41         39.0        0.34
16570      0.78    1015.3       2.94      3.90         97.0        0.45
16571      0.82    1015.5       3.38      5.00        144.0        0.40
16572      0.87    1015.9       3.76      5.87        148.0        0.38
16573      0.88    1016.0       4.44      7.36        153.0        0.33

       uvIndex  visibility precipType  ozone  precipAccumulation
0          0.0       8.395        NaN    NaN                 NaN
1          0.0       3.775        NaN    NaN                 NaN
2          0.0       3.560        NaN    NaN                 NaN
3          0.0       3.482        NaN    NaN                 NaN
4          0.0       3.351       rain    NaN                 NaN
...        ...         ...        ...    ...                 ...
16569      0.0      10.000       rain  391.2                 NaN
16570      0.0      10.000       rain  389.0                 NaN
16571      0.0      10.000       rain  386.0                 NaN
16572      0.0       9.881       rain  382.2                 NaN
16573      0.0       9.879       rain  378.0                 NaN

[16574 rows x 19 columns]

In [7]:
df_weather['time'] = pd.to_datetime(df_weather['time'], unit='s')
print(df_weather)

                     time        summary                 icon  \
0     2018-07-01 07:00:00       Overcast               cloudy
1     2018-07-01 08:00:00       Overcast               cloudy
2     2018-07-01 09:00:00       Overcast               cloudy
3     2018-07-01 10:00:00       Overcast               cloudy
4     2018-07-01 11:00:00       Overcast               cloudy
...                   ...            ...                  ...
16569 2020-05-22 02:00:00  Partly Cloudy    partly-cloudy-day
16570 2020-05-22 03:00:00  Partly Cloudy    partly-cloudy-day
16571 2020-05-22 04:00:00  Partly Cloudy  partly-cloudy-night
16572 2020-05-22 05:00:00  Partly Cloudy  partly-cloudy-night
16573 2020-05-22 06:00:00  Partly Cloudy  partly-cloudy-night

       precipIntensity  precipProbability  temperature  apparentTemperature  \
0               0.0000               0.00        59.32                59.32
1               0.0000               0.00        58.96                58.96
2               0.0000               0.00        58.56                58.56
3               0.0000               0.00        58.26                58.26
4               0.0007               0.15        58.04                58.04
...                ...                ...          ...                  ...
16569           0.0204               0.25        52.91                52.91
16570           0.0106               0.23        52.19                52.19
16571           0.0058               0.19        51.22                51.22
16572           0.0023               0.12        50.07                50.07
16573           0.0003               0.06        48.90                47.28

       dewPoint  humidity  pressure  windSpeed  windGust  windBearing  \
0         55.21      0.86    1022.1       4.81      4.81        207.0
1         55.24      0.87    1022.0       5.02      5.02        201.0
2         55.45      0.89    1022.1       4.20      4.20        199.0
3         55.68      0.91    1022.1       3.66      3.66        195.0
4         55.68      0.92    1022.0       4.19      4.19        190.0
...         ...       ...       ...        ...       ...          ...
16569     45.30      0.75    1015.1       3.79      4.41         39.0
16570     45.58      0.78    1015.3       2.94      3.90         97.0
16571     46.04      0.82    1015.5       3.38      5.00        144.0
16572     46.23      0.87    1015.9       3.76      5.87        148.0
16573     45.42      0.88    1016.0       4.44      7.36        153.0

       cloudCover  uvIndex  visibility precipType  ozone  precipAccumulation
0            1.00      0.0       8.395        NaN    NaN                 NaN
1            1.00      0.0       3.775        NaN    NaN                 NaN
2            1.00      0.0       3.560        NaN    NaN                 NaN
3            1.00      0.0       3.482        NaN    NaN                 NaN
4            1.00      0.0       3.351       rain    NaN                 NaN
...           ...      ...         ...        ...    ...                 ...
16569        0.34      0.0      10.000       rain  391.2                 NaN
16570        0.45      0.0      10.000       rain  389.0                 NaN
16571        0.40      0.0      10.000       rain  386.0                 NaN
16572        0.38      0.0       9.881       rain  382.2                 NaN
16573        0.33      0.0       9.879       rain  378.0                 NaN

[16574 rows x 19 columns]

In [8]:
print(type(df_weather['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [9]:
df_merged = df.merge(
    df_weather,
    left_on='utc_time',
    right_on='time',
    how='inner'
)

In [10]:
df_merged.drop(columns=['time'], inplace=True)

In [11]:
print(df_merged)

      company           local_time            utc_time  demand     city  \
0         SCL  2018-07-01 01:00:00 2018-07-01 08:00:00   809.0  seattle
1         SCL  2018-07-01 02:00:00 2018-07-01 09:00:00   779.0  seattle
2         SCL  2018-07-01 03:00:00 2018-07-01 10:00:00   753.0  seattle
3         SCL  2018-07-01 04:00:00 2018-07-01 11:00:00   748.0  seattle
4         SCL  2018-07-01 05:00:00 2018-07-01 12:00:00   745.0  seattle
...       ...                  ...                 ...     ...      ...
15945     SCL  2020-04-25 20:00:00 2020-04-26 03:00:00     NaN  seattle
15946     SCL  2020-04-25 21:00:00 2020-04-26 04:00:00     NaN  seattle
15947     SCL  2020-04-25 22:00:00 2020-04-26 05:00:00     NaN  seattle
15948     SCL  2020-04-25 23:00:00 2020-04-26 06:00:00     NaN  seattle
15949     SCL  2020-04-26 00:00:00 2020-04-26 07:00:00     NaN  seattle

             summary                 icon  precipIntensity  precipProbability  \
0           Overcast               cloudy           0.0000               0.00
1           Overcast               cloudy           0.0000               0.00
2           Overcast               cloudy           0.0000               0.00
3           Overcast               cloudy           0.0007               0.15
4           Overcast               cloudy           0.0012               0.08
...              ...                  ...              ...                ...
15945  Mostly Cloudy    partly-cloudy-day           0.0017               0.03
15946  Mostly Cloudy  partly-cloudy-night           0.0008               0.02
15947  Mostly Cloudy  partly-cloudy-night           0.0000               0.00
15948  Mostly Cloudy  partly-cloudy-night           0.0000               0.00
15949  Mostly Cloudy  partly-cloudy-night           0.0017               0.03

       temperature  ...  pressure  windSpeed  windGust  windBearing  \
0            58.96  ...    1022.0       5.02      5.02        201.0
1            58.56  ...    1022.1       4.20      4.20        199.0
2            58.26  ...    1022.1       3.66      3.66        195.0
3            58.04  ...    1022.0       4.19      4.19        190.0
4            57.73  ...    1022.2       3.78      3.78        184.0
...            ...  ...       ...        ...       ...          ...
15945        55.60  ...    1018.8       7.70     15.31        219.0
15946        53.87  ...    1019.3       6.81     14.36        212.0
15947        52.54  ...    1020.0       5.79     13.09        208.0
15948        51.02  ...    1020.3       5.54     11.76        203.0
15949        49.80  ...    1020.4       5.17     10.89        199.0

       cloudCover  uvIndex  visibility  precipType  ozone  precipAccumulation
0            1.00      0.0       3.775         NaN    NaN                 NaN
1            1.00      0.0       3.560         NaN    NaN                 NaN
2            1.00      0.0       3.482         NaN    NaN                 NaN
3            1.00      0.0       3.351        rain    NaN                 NaN
4            1.00      0.0       2.758        rain    NaN                 NaN
...           ...      ...         ...         ...    ...                 ...
15945        0.72      0.0      10.000        rain  338.3                 NaN
15946        0.76      0.0      10.000        rain  339.5                 NaN
15947        0.70      0.0      10.000         NaN  340.7                 NaN
15948        0.61      0.0      10.000         NaN  341.6                 NaN
15949        0.62      0.0      10.000        rain  350.9                 NaN

[15950 rows x 23 columns]

In [12]:
df1 = pd.read_csv(csv_path)
df1

      company           local_time             utc_time  demand     city
0        AZPS  2018-07-01 01:00:00  2018-07-01 08:00:00  3497.0  phoenix
1        AZPS  2018-07-01 02:00:00  2018-07-01 09:00:00  3256.0  phoenix
2        AZPS  2018-07-01 03:00:00  2018-07-01 10:00:00  3065.0  phoenix
3        AZPS  2018-07-01 04:00:00  2018-07-01 11:00:00  2929.0  phoenix
4        AZPS  2018-07-01 05:00:00  2018-07-01 12:00:00  2833.0  phoenix
...       ...                  ...                  ...     ...      ...
31915     SCL  2020-04-25 20:00:00  2020-04-26 03:00:00     NaN  seattle
31916     SCL  2020-04-25 21:00:00  2020-04-26 04:00:00     NaN  seattle
31917     SCL  2020-04-25 22:00:00  2020-04-26 05:00:00     NaN  seattle
31918     SCL  2020-04-25 23:00:00  2020-04-26 06:00:00     NaN  seattle
31919     SCL  2020-04-26 00:00:00  2020-04-26 07:00:00     NaN  seattle

[31920 rows x 5 columns]

In [13]:
df1 = df1[df1['city'] == 'phoenix']
df1 = df1.reset_index(drop=True)
print(df1)

      company           local_time             utc_time  demand     city
0        AZPS  2018-07-01 01:00:00  2018-07-01 08:00:00  3497.0  phoenix
1        AZPS  2018-07-01 02:00:00  2018-07-01 09:00:00  3256.0  phoenix
2        AZPS  2018-07-01 03:00:00  2018-07-01 10:00:00  3065.0  phoenix
3        AZPS  2018-07-01 04:00:00  2018-07-01 11:00:00  2929.0  phoenix
4        AZPS  2018-07-01 05:00:00  2018-07-01 12:00:00  2833.0  phoenix
...       ...                  ...                  ...     ...      ...
15955    AZPS  2020-04-25 20:00:00  2020-04-26 03:00:00     NaN  phoenix
15956    AZPS  2020-04-25 21:00:00  2020-04-26 04:00:00     NaN  phoenix
15957    AZPS  2020-04-25 22:00:00  2020-04-26 05:00:00     NaN  phoenix
15958    AZPS  2020-04-25 23:00:00  2020-04-26 06:00:00     NaN  phoenix
15959    AZPS  2020-04-26 00:00:00  2020-04-26 07:00:00     NaN  phoenix

[15960 rows x 5 columns]

In [14]:
print(type(df1['utc_time'][0]))
# make the local_time column a datetime object
df1['utc_time'] = pd.to_datetime(df1['utc_time'])
print(df1)
print(type(df1['utc_time'][0]))

<class 'str'>
      company           local_time            utc_time  demand     city
0        AZPS  2018-07-01 01:00:00 2018-07-01 08:00:00  3497.0  phoenix
1        AZPS  2018-07-01 02:00:00 2018-07-01 09:00:00  3256.0  phoenix
2        AZPS  2018-07-01 03:00:00 2018-07-01 10:00:00  3065.0  phoenix
3        AZPS  2018-07-01 04:00:00 2018-07-01 11:00:00  2929.0  phoenix
4        AZPS  2018-07-01 05:00:00 2018-07-01 12:00:00  2833.0  phoenix
...       ...                  ...                 ...     ...      ...
15955    AZPS  2020-04-25 20:00:00 2020-04-26 03:00:00     NaN  phoenix
15956    AZPS  2020-04-25 21:00:00 2020-04-26 04:00:00     NaN  phoenix
15957    AZPS  2020-04-25 22:00:00 2020-04-26 05:00:00     NaN  phoenix
15958    AZPS  2020-04-25 23:00:00 2020-04-26 06:00:00     NaN  phoenix
15959    AZPS  2020-04-26 00:00:00 2020-04-26 07:00:00     NaN  phoenix

[15960 rows x 5 columns]
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [15]:
df_weather1 = pd.read_json('/Volumes/meen/phoenix.json', orient='records')
print(df_weather1)

             time summary         icon  precipIntensity  precipProbability  \
0      1530428400   Clear  clear-night              0.0                0.0
1      1530432000   Clear  clear-night              0.0                0.0
2      1530435600   Clear  clear-night              0.0                0.0
3      1530439200   Clear  clear-night              0.0                0.0
4      1530442800   Clear  clear-night              0.0                0.0
...           ...     ...          ...              ...                ...
16569  1590112800   Clear    clear-day              0.0                0.0
16570  1590116400   Clear  clear-night              0.0                0.0
16571  1590120000   Clear  clear-night              0.0                0.0
16572  1590123600   Clear  clear-night              0.0                0.0
16573  1590127200   Clear  clear-night              0.0                0.0

       temperature  apparentTemperature  dewPoint  humidity  pressure  \
0            86.82                86.82     34.57      0.16    1008.9
1            83.37                83.37     36.45      0.19    1009.3
2            82.22                82.22     34.88      0.18    1009.5
3            80.34                80.34     33.96      0.19    1010.1
4            79.34                79.34     31.52      0.18    1010.4
...            ...                  ...       ...       ...       ...
16569        86.57                86.57     15.71      0.07    1007.8
16570        83.39                83.39     12.56      0.07    1008.0
16571        78.82                78.82     22.30      0.12    1008.4
16572        74.33                74.33     26.11      0.17    1009.0
16573        72.17                72.17     24.60      0.17    1009.0

       windSpeed  windGust  windBearing  cloudCover  uvIndex  visibility  \
0           4.30     11.27        225.0         0.0      0.0       9.997
1           4.00      4.00        282.0         0.0      0.0       9.997
2           2.47      2.47        279.0         0.0      0.0       9.997
3           2.98      4.12        107.0         0.0      0.0       9.997
4           2.74      3.28        106.0         0.0      0.0       9.997
...          ...       ...          ...         ...      ...         ...
16569       2.04      7.73        213.0         0.0      0.0      10.000
16570       2.88      5.69        221.0         0.0      0.0      10.000
16571       2.27      2.60        175.0         0.0      0.0      10.000
16572       2.96      2.96         67.0         0.0      0.0      10.000
16573       3.77      3.77         30.0         0.0      0.0      10.000

      precipType  ozone  precipAccumulation
0            NaN    NaN                 NaN
1            NaN    NaN                 NaN
2            NaN    NaN                 NaN
3            NaN    NaN                 NaN
4            NaN    NaN                 NaN
...          ...    ...                 ...
16569        NaN  312.8                 NaN
16570        NaN  312.8                 NaN
16571        NaN  312.8                 NaN
16572        NaN  313.0                 NaN
16573        NaN  313.4                 NaN

[16574 rows x 19 columns]

In [16]:
df_weather1['time'] = pd.to_datetime(df_weather1['time'], unit='s')
print(df_weather1)

                     time summary         icon  precipIntensity  \
0     2018-07-01 07:00:00   Clear  clear-night              0.0
1     2018-07-01 08:00:00   Clear  clear-night              0.0
2     2018-07-01 09:00:00   Clear  clear-night              0.0
3     2018-07-01 10:00:00   Clear  clear-night              0.0
4     2018-07-01 11:00:00   Clear  clear-night              0.0
...                   ...     ...          ...              ...
16569 2020-05-22 02:00:00   Clear    clear-day              0.0
16570 2020-05-22 03:00:00   Clear  clear-night              0.0
16571 2020-05-22 04:00:00   Clear  clear-night              0.0
16572 2020-05-22 05:00:00   Clear  clear-night              0.0
16573 2020-05-22 06:00:00   Clear  clear-night              0.0

       precipProbability  temperature  apparentTemperature  dewPoint  \
0                    0.0        86.82                86.82     34.57
1                    0.0        83.37                83.37     36.45
2                    0.0        82.22                82.22     34.88
3                    0.0        80.34                80.34     33.96
4                    0.0        79.34                79.34     31.52
...                  ...          ...                  ...       ...
16569                0.0        86.57                86.57     15.71
16570                0.0        83.39                83.39     12.56
16571                0.0        78.82                78.82     22.30
16572                0.0        74.33                74.33     26.11
16573                0.0        72.17                72.17     24.60

       humidity  pressure  windSpeed  windGust  windBearing  cloudCover  \
0          0.16    1008.9       4.30     11.27        225.0         0.0
1          0.19    1009.3       4.00      4.00        282.0         0.0
2          0.18    1009.5       2.47      2.47        279.0         0.0
3          0.19    1010.1       2.98      4.12        107.0         0.0
4          0.18    1010.4       2.74      3.28        106.0         0.0
...         ...       ...        ...       ...          ...         ...
16569      0.07    1007.8       2.04      7.73        213.0         0.0
16570      0.07    1008.0       2.88      5.69        221.0         0.0
16571      0.12    1008.4       2.27      2.60        175.0         0.0
16572      0.17    1009.0       2.96      2.96         67.0         0.0
16573      0.17    1009.0       3.77      3.77         30.0         0.0

       uvIndex  visibility precipType  ozone  precipAccumulation
0          0.0       9.997        NaN    NaN                 NaN
1          0.0       9.997        NaN    NaN                 NaN
2          0.0       9.997        NaN    NaN                 NaN
3          0.0       9.997        NaN    NaN                 NaN
4          0.0       9.997        NaN    NaN                 NaN
...        ...         ...        ...    ...                 ...
16569      0.0      10.000        NaN  312.8                 NaN
16570      0.0      10.000        NaN  312.8                 NaN
16571      0.0      10.000        NaN  312.8                 NaN
16572      0.0      10.000        NaN  313.0                 NaN
16573      0.0      10.000        NaN  313.4                 NaN

[16574 rows x 19 columns]

In [17]:
print(type(df_weather1['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [18]:
df_merged1 = df1.merge(
    df_weather1,
    left_on='utc_time',
    right_on='time',
    how='inner'
)

In [19]:
df_merged1.drop(columns=['time'], inplace=True)

In [20]:
df_merged1

,company,local_time,utc_time,demand,city,summary,icon,precipIntensity,precipProbability,temperature,...,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,AZPS,2018-07-01 01:00:00,2018-07-01 08:00:00,3497.0,phoenix,Clear,clear-night,0.0000,0.00,83.37,...,1009.3,4.00,4.00,282.0,0.00,0.0,9.997,NaN,NaN,NaN
1,AZPS,2018-07-01 02:00:00,2018-07-01 09:00:00,3256.0,phoenix,Clear,clear-night,0.0000,0.00,82.22,...,1009.5,2.47,2.47,279.0,0.00,0.0,9.997,NaN,NaN,NaN
2,AZPS,2018-07-01 03:00:00,2018-07-01 10:00:00,3065.0,phoenix,Clear,clear-night,0.0000,0.00,80.34,...,1010.1,2.98,4.12,107.0,0.00,0.0,9.997,NaN,NaN,NaN
3,AZPS,2018-07-01 04:00:00,2018-07-01 11:00:00,2929.0,phoenix,Clear,clear-night,0.0000,0.00,79.34,...,1010.4,2.74,3.28,106.0,0.00,0.0,9.997,NaN,NaN,NaN
4,AZPS,2018-07-01 05:00:00,2018-07-01 12:00:00,2833.0,phoenix,Clear,clear-night,0.0000,0.00,76.67,...,1010.7,2.51,4.76,115.0,0.00,0.0,9.997,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15945,AZPS,2020-04-25 20:00:00,2020-04-26 03:00:00,NaN,phoenix,Clear,clear-night,0.0000,0.00,86.44,...,1010.2,3.27,3.27,269.0,0.00,0.0,10.000,NaN,301.8,NaN
15946,AZPS,2020-04-25 21:00:00,2020-04-26 04:00:00,NaN,phoenix,Clear,clear-night,0.0000,0.00,87.49,...,1010.7,1.29,7.63,235.0,0.00,0.0,10.000,NaN,301.5,NaN
15947,AZPS,2020-04-25 22:00:00,2020-04-26 05:00:00,NaN,phoenix,Clear,clear-night,0.0000,0.00,81.75,...,1011.0,4.06,4.06,331.0,0.00,0.0,10.000,NaN,301.3,NaN
15948,AZPS,2020-04-25 23:00:00,2020-04-26 06:00:00,NaN,phoenix,Clear,clear-night,0.0000,0.00,82.21,...,1011.5,4.11,4.11,359.0,0.00,0.0,10.000,NaN,300.7,NaN
15949,AZPS,2020-04-26 00:00:00,2020-04-26 07:00:00,NaN,phoenix,Clear,clear-night,0.0018,0.01,76.70,...,1011.7,4.25,4.25,19.0,0.01,0.0,10.000,rain,301.3,NaN

In [21]:
df2 = pd.read_csv(csv_path1)
df2

,company,region,demand,local_time,utc_time,city
0,NYIS,ZONJ,7269.0,2018-07-01 01:00:00,2018-07-01 05:00:00,nyc
1,NYIS,ZONJ,6977.0,2018-07-01 02:00:00,2018-07-01 06:00:00,nyc
2,NYIS,ZONJ,6725.0,2018-07-01 03:00:00,2018-07-01 07:00:00,nyc
3,NYIS,ZONJ,6539.0,2018-07-01 04:00:00,2018-07-01 08:00:00,nyc
4,NYIS,ZONJ,6415.0,2018-07-01 05:00:00,2018-07-01 09:00:00,nyc
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [22]:
# only keep rows that have city as seattle 
df2 = df2[df2['city'] == 'nyc']
df2

       company region  demand           local_time             utc_time city
0         NYIS   ZONJ  7269.0  2018-07-01 01:00:00  2018-07-01 05:00:00  nyc
1         NYIS   ZONJ  6977.0  2018-07-01 02:00:00  2018-07-01 06:00:00  nyc
2         NYIS   ZONJ  6725.0  2018-07-01 03:00:00  2018-07-01 07:00:00  nyc
3         NYIS   ZONJ  6539.0  2018-07-01 04:00:00  2018-07-01 08:00:00  nyc
4         NYIS   ZONJ  6415.0  2018-07-01 05:00:00  2018-07-01 09:00:00  nyc
...        ...    ...     ...                  ...                  ...  ...
108770    NYIS   ZONJ  4674.0  2020-05-19 20:00:00  2020-05-20 00:00:00  nyc
108771    NYIS   ZONJ  4708.0  2020-05-19 21:00:00  2020-05-20 01:00:00  nyc
108772    NYIS   ZONJ  4617.0  2020-05-19 22:00:00  2020-05-20 02:00:00  nyc
108773    NYIS   ZONJ  4440.0  2020-05-19 23:00:00  2020-05-20 03:00:00  nyc
108774    NYIS   ZONJ  4206.0  2020-05-20 00:00:00  2020-05-20 04:00:00  nyc

[16536 rows x 6 columns]

In [23]:
df2 = df2.reset_index(drop=True)
df2

      company region  demand           local_time             utc_time city
0        NYIS   ZONJ  7269.0  2018-07-01 01:00:00  2018-07-01 05:00:00  nyc
1        NYIS   ZONJ  6977.0  2018-07-01 02:00:00  2018-07-01 06:00:00  nyc
2        NYIS   ZONJ  6725.0  2018-07-01 03:00:00  2018-07-01 07:00:00  nyc
3        NYIS   ZONJ  6539.0  2018-07-01 04:00:00  2018-07-01 08:00:00  nyc
4        NYIS   ZONJ  6415.0  2018-07-01 05:00:00  2018-07-01 09:00:00  nyc
...       ...    ...     ...                  ...                  ...  ...
16531    NYIS   ZONJ  4674.0  2020-05-19 20:00:00  2020-05-20 00:00:00  nyc
16532    NYIS   ZONJ  4708.0  2020-05-19 21:00:00  2020-05-20 01:00:00  nyc
16533    NYIS   ZONJ  4617.0  2020-05-19 22:00:00  2020-05-20 02:00:00  nyc
16534    NYIS   ZONJ  4440.0  2020-05-19 23:00:00  2020-05-20 03:00:00  nyc
16535    NYIS   ZONJ  4206.0  2020-05-20 00:00:00  2020-05-20 04:00:00  nyc

[16536 rows x 6 columns]

In [24]:
print(type(df2['utc_time'][0]))

<class 'str'>

In [25]:
# make the local_time column a datetime object
df2['utc_time'] = pd.to_datetime(df2['utc_time'])
df2

      company region  demand           local_time            utc_time city
0        NYIS   ZONJ  7269.0  2018-07-01 01:00:00 2018-07-01 05:00:00  nyc
1        NYIS   ZONJ  6977.0  2018-07-01 02:00:00 2018-07-01 06:00:00  nyc
2        NYIS   ZONJ  6725.0  2018-07-01 03:00:00 2018-07-01 07:00:00  nyc
3        NYIS   ZONJ  6539.0  2018-07-01 04:00:00 2018-07-01 08:00:00  nyc
4        NYIS   ZONJ  6415.0  2018-07-01 05:00:00 2018-07-01 09:00:00  nyc
...       ...    ...     ...                  ...                 ...  ...
16531    NYIS   ZONJ  4674.0  2020-05-19 20:00:00 2020-05-20 00:00:00  nyc
16532    NYIS   ZONJ  4708.0  2020-05-19 21:00:00 2020-05-20 01:00:00  nyc
16533    NYIS   ZONJ  4617.0  2020-05-19 22:00:00 2020-05-20 02:00:00  nyc
16534    NYIS   ZONJ  4440.0  2020-05-19 23:00:00 2020-05-20 03:00:00  nyc
16535    NYIS   ZONJ  4206.0  2020-05-20 00:00:00 2020-05-20 04:00:00  nyc

[16536 rows x 6 columns]

In [27]:
print(type(df2['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [28]:
df_weather2 = pd.read_json('/Volumes/meen/nyc.json', orient='records')
print(df_weather2)

             time              summary         icon  precipIntensity  \
0      1530504000                Clear  clear-night           0.0000
1      1530507600                Clear  clear-night           0.0000
2      1530511200                Clear  clear-night           0.0000
3      1530514800                Clear  clear-night           0.0000
4      1530518400                Clear  clear-night           0.0000
...           ...                  ...          ...              ...
16569  1590188400     Possible Drizzle         rain           0.0086
16570  1590192000  Possible Light Rain         rain           0.0103
16571  1590195600     Possible Drizzle         rain           0.0089
16572  1590199200     Possible Drizzle         rain           0.0063
16573  1590202800     Possible Drizzle         rain           0.0047

       precipProbability  temperature  apparentTemperature  dewPoint  \
0                   0.00        83.18                87.93     71.08
1                   0.00        82.55                86.45     69.88
2                   0.00        79.89                82.86     69.55
3                   0.00        79.07                81.70     69.37
4                   0.00        78.12                79.12     69.24
...                  ...          ...                  ...       ...
16569               0.31        62.97                63.01     58.73
16570               0.39        62.11                62.20     58.81
16571               0.37        61.70                61.70     57.95
16572               0.31        61.55                61.55     57.33
16573               0.27        61.50                61.50     56.89

       humidity  pressure  windSpeed  windGust  windBearing  cloudCover  \
0          0.67    1017.0       3.27      3.27        242.0        0.03
1          0.66    1017.2       2.40      2.40        234.0        0.02
2          0.71    1017.4       3.64      3.64        256.0        0.02
3          0.72    1017.3       5.51      5.51        254.0        0.02
4          0.74    1017.2       1.95      2.90        255.0        0.02
...         ...       ...        ...       ...          ...         ...
16569      0.86    1018.4       8.61     14.42        166.0        0.78
16570      0.89    1018.1       7.70     13.86        161.0        0.82
16571      0.88    1017.9       7.09     12.65        158.0        0.87
16572      0.86    1017.9       6.62     10.99        154.0        0.93
16573      0.85    1017.7       6.17      9.56        148.0        0.97

       uvIndex  visibility precipType  ozone  precipAccumulation
0          0.0       9.784        NaN    NaN                 NaN
1          0.0       9.763        NaN    NaN                 NaN
2          0.0       9.876        NaN    NaN                 NaN
3          0.0       9.793        NaN    NaN                 NaN
4          0.0       9.799        NaN    NaN                 NaN
...        ...         ...        ...    ...                 ...
16569      0.0      10.000       rain  332.5                 NaN
16570      0.0       9.666       rain  334.6                 NaN
16571      0.0      10.000       rain  335.4                 NaN
16572      0.0      10.000       rain  335.4                 NaN
16573      0.0      10.000       rain  335.0                 NaN

[16574 rows x 19 columns]

In [29]:
df_weather2['time'] = pd.to_datetime(df_weather2['time'], unit='s')

In [30]:
df_weather2

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,2018-07-02 04:00:00,Clear,clear-night,0.0000,0.00,83.18,87.93,71.08,0.67,1017.0,3.27,3.27,242.0,0.03,0.0,9.784,NaN,NaN,NaN
1,2018-07-02 05:00:00,Clear,clear-night,0.0000,0.00,82.55,86.45,69.88,0.66,1017.2,2.40,2.40,234.0,0.02,0.0,9.763,NaN,NaN,NaN
2,2018-07-02 06:00:00,Clear,clear-night,0.0000,0.00,79.89,82.86,69.55,0.71,1017.4,3.64,3.64,256.0,0.02,0.0,9.876,NaN,NaN,NaN
3,2018-07-02 07:00:00,Clear,clear-night,0.0000,0.00,79.07,81.70,69.37,0.72,1017.3,5.51,5.51,254.0,0.02,0.0,9.793,NaN,NaN,NaN
4,2018-07-02 08:00:00,Clear,clear-night,0.0000,0.00,78.12,79.12,69.24,0.74,1017.2,1.95,2.90,255.0,0.02,0.0,9.799,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,2020-05-22 23:00:00,Possible Drizzle,rain,0.0086,0.31,62.97,63.01,58.73,0.86,1018.4,8.61,14.42,166.0,0.78,0.0,10.000,rain,332.5,NaN
16570,2020-05-23 00:00:00,Possible Light Rain,rain,0.0103,0.39,62.11,62.20,58.81,0.89,1018.1,7.70,13.86,161.0,0.82,0.0,9.666,rain,334.6,NaN
16571,2020-05-23 01:00:00,Possible Drizzle,rain,0.0089,0.37,61.70,61.70,57.95,0.88,1017.9,7.09,12.65,158.0,0.87,0.0,10.000,rain,335.4,NaN
16572,2020-05-23 02:00:00,Possible Drizzle,rain,0.0063,0.31,61.55,61.55,57.33,0.86,1017.9,6.62,10.99,154.0,0.93,0.0,10.000,rain,335.4,NaN
16573,2020-05-23 03:00:00,Possible Drizzle,rain,0.0047,0.27,61.50,61.50,56.89,0.85,1017.7,6.17,9.56,148.0,0.97,0.0,10.000,rain,335.0,NaN

In [31]:
print(type(df_weather2['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [32]:
df_merged2 = df2.merge(
    df_weather2,
    left_on='utc_time',
    right_on='time',
    how='inner'
)

In [33]:
df_merged2.drop(columns=['time'], inplace=True)

In [34]:
df_merged2

,company,region,demand,local_time,utc_time,city,summary,icon,precipIntensity,precipProbability,...,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,NYIS,ZONJ,8548.0,2018-07-02 00:00:00,2018-07-02 04:00:00,nyc,Clear,clear-night,0.0000,0.00,...,1017.0,3.27,3.27,242.0,0.03,0.0,9.784,NaN,NaN,NaN
1,NYIS,ZONJ,8153.0,2018-07-02 01:00:00,2018-07-02 05:00:00,nyc,Clear,clear-night,0.0000,0.00,...,1017.2,2.40,2.40,234.0,0.02,0.0,9.763,NaN,NaN,NaN
2,NYIS,ZONJ,7824.0,2018-07-02 02:00:00,2018-07-02 06:00:00,nyc,Clear,clear-night,0.0000,0.00,...,1017.4,3.64,3.64,256.0,0.02,0.0,9.876,NaN,NaN,NaN
3,NYIS,ZONJ,7541.0,2018-07-02 03:00:00,2018-07-02 07:00:00,nyc,Clear,clear-night,0.0000,0.00,...,1017.3,5.51,5.51,254.0,0.02,0.0,9.793,NaN,NaN,NaN
4,NYIS,ZONJ,7368.0,2018-07-02 04:00:00,2018-07-02 08:00:00,nyc,Clear,clear-night,0.0000,0.00,...,1017.2,1.95,2.90,255.0,0.02,0.0,9.799,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16498,NYIS,ZONJ,4674.0,2020-05-19 20:00:00,2020-05-20 00:00:00,nyc,Partly Cloudy,partly-cloudy-day,0.0012,0.01,...,1027.8,14.09,23.67,94.0,0.43,0.0,10.000,rain,312.2,NaN
16499,NYIS,ZONJ,4708.0,2020-05-19 21:00:00,2020-05-20 01:00:00,nyc,Partly Cloudy,partly-cloudy-night,0.0008,0.01,...,1028.3,13.53,24.30,86.0,0.46,0.0,10.000,rain,314.7,NaN
16500,NYIS,ZONJ,4617.0,2020-05-19 22:00:00,2020-05-20 02:00:00,nyc,Partly Cloudy,partly-cloudy-night,0.0000,0.00,...,1028.6,13.29,23.73,79.0,0.46,0.0,10.000,NaN,314.8,NaN
16501,NYIS,ZONJ,4440.0,2020-05-19 23:00:00,2020-05-20 03:00:00,nyc,Partly Cloudy,partly-cloudy-night,0.0010,0.01,...,1028.6,11.51,22.95,76.0,0.46,0.0,10.000,rain,314.7,NaN
16502,NYIS,ZONJ,4206.0,2020-05-20 00:00:00,2020-05-20 04:00:00,nyc,Partly Cloudy,partly-cloudy-night,0.0013,0.01,...,1028.6,11.75,22.46,73.0,0.57,0.0,10.000,rain,314.2,NaN

In [35]:
df3 = pd.read_csv(csv_path1)
df3

,company,region,demand,local_time,utc_time,city
0,NYIS,ZONJ,7269.0,2018-07-01 01:00:00,2018-07-01 05:00:00,nyc
1,NYIS,ZONJ,6977.0,2018-07-01 02:00:00,2018-07-01 06:00:00,nyc
2,NYIS,ZONJ,6725.0,2018-07-01 03:00:00,2018-07-01 07:00:00,nyc
3,NYIS,ZONJ,6539.0,2018-07-01 04:00:00,2018-07-01 08:00:00,nyc
4,NYIS,ZONJ,6415.0,2018-07-01 05:00:00,2018-07-01 09:00:00,nyc
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [36]:
# only keep rows that have city as seattle 
df3 = df3[df3['city'] == 'san jose']
df3

,company,region,demand,local_time,utc_time,city
30919,CISO,PGAE,12522.0,2018-07-01 01:00:00,2018-07-01 08:00:00,san jose
30920,CISO,PGAE,11745.0,2018-07-01 02:00:00,2018-07-01 09:00:00,san jose
30921,CISO,PGAE,11200.0,2018-07-01 03:00:00,2018-07-01 10:00:00,san jose
30922,CISO,PGAE,10822.0,2018-07-01 04:00:00,2018-07-01 11:00:00,san jose
30923,CISO,PGAE,10644.0,2018-07-01 05:00:00,2018-07-01 12:00:00,san jose
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [37]:
df3 = df3.reset_index(drop=True)
df3

,company,region,demand,local_time,utc_time,city
0,CISO,PGAE,12522.0,2018-07-01 01:00:00,2018-07-01 08:00:00,san jose
1,CISO,PGAE,11745.0,2018-07-01 02:00:00,2018-07-01 09:00:00,san jose
2,CISO,PGAE,11200.0,2018-07-01 03:00:00,2018-07-01 10:00:00,san jose
3,CISO,PGAE,10822.0,2018-07-01 04:00:00,2018-07-01 11:00:00,san jose
4,CISO,PGAE,10644.0,2018-07-01 05:00:00,2018-07-01 12:00:00,san jose
...,...,...,...,...,...,...
16531,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
16532,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
16533,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
16534,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
16535,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [38]:
# print the type of local_time column 
print(type(df3['utc_time'][0]))

<class 'str'>

In [39]:
# make the local_time column a datetime object
df3['utc_time'] = pd.to_datetime(df3['utc_time'])
df3

,company,region,demand,local_time,utc_time,city
0,CISO,PGAE,12522.0,2018-07-01 01:00:00,2018-07-01 08:00:00,san jose
1,CISO,PGAE,11745.0,2018-07-01 02:00:00,2018-07-01 09:00:00,san jose
2,CISO,PGAE,11200.0,2018-07-01 03:00:00,2018-07-01 10:00:00,san jose
3,CISO,PGAE,10822.0,2018-07-01 04:00:00,2018-07-01 11:00:00,san jose
4,CISO,PGAE,10644.0,2018-07-01 05:00:00,2018-07-01 12:00:00,san jose
...,...,...,...,...,...,...
16531,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
16532,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
16533,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
16534,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
16535,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [40]:
print(type(df3['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [41]:
df_weather3 = pd.read_json('/Volumes/meen/san_jose.json', orient='records')
print(df_weather3)

             time           summary         icon  precipIntensity  \
0      1530428400             Clear  clear-night           0.0000
1      1530432000             Clear  clear-night           0.0000
2      1530435600             Clear  clear-night           0.0000
3      1530439200             Clear  clear-night           0.0000
4      1530442800             Clear  clear-night           0.0000
...           ...               ...          ...              ...
16569  1590112800             Clear    clear-day           0.0000
16570  1590116400             Clear    clear-day           0.0000
16571  1590120000             Clear  clear-night           0.0000
16572  1590123600             Clear  clear-night           0.0000
16573  1590127200  Possible Drizzle         rain           0.0001

       precipProbability  temperature  apparentTemperature  dewPoint  \
0                   0.00        67.78                67.78     53.27
1                   0.00        66.09                66.09     53.14
2                   0.00        64.30                64.30     53.15
3                   0.00        63.42                63.42     53.22
4                   0.00        61.73                61.73     53.10
...                  ...          ...                  ...       ...
16569               0.00        69.47                69.47     48.13
16570               0.00        65.14                65.14     46.11
16571               0.00        61.28                61.28     46.18
16572               0.00        58.57                58.57     46.25
16573               0.34        56.96                56.96     45.46

       humidity  pressure  windSpeed  windGust  windBearing  cloudCover  \
0          0.60    1012.8       6.36      8.58        141.0        0.17
1          0.63    1013.1       3.15      5.36        143.0        0.01
2          0.67    1013.0       4.74      5.84        117.0        0.00
3          0.69    1012.9       4.51      6.80        160.0        0.06
4          0.73    1013.0       3.48      5.91        121.0        0.08
...         ...       ...        ...       ...          ...         ...
16569      0.47    1014.3       7.51     14.32        308.0        0.05
16570      0.50    1014.5       8.23     12.70        318.0        0.05
16571      0.58    1014.8       7.36      9.98        348.0        0.05
16572      0.64    1015.4       5.51      7.44        345.0        0.05
16573      0.65    1015.3       4.93      6.76        355.0        0.01

       uvIndex  visibility  ozone precipType
0          0.0       9.988    NaN        NaN
1          0.0       9.988    NaN        NaN
2          0.0       9.997    NaN        NaN
3          0.0       9.988    NaN        NaN
4          0.0       9.978    NaN        NaN
...        ...         ...    ...        ...
16569      0.0      10.000  344.1        NaN
16570      0.0      10.000  342.9        NaN
16571      0.0      10.000  342.5        NaN
16572      0.0      10.000  342.8        NaN
16573      0.0      10.000  343.4       rain

[16574 rows x 18 columns]

In [42]:
df_weather3['time'] = pd.to_datetime(df_weather3['time'], unit='s')

In [43]:
df_weather3

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,ozone,precipType
0,2018-07-01 07:00:00,Clear,clear-night,0.0000,0.00,67.78,67.78,53.27,0.60,1012.8,6.36,8.58,141.0,0.17,0.0,9.988,NaN,NaN
1,2018-07-01 08:00:00,Clear,clear-night,0.0000,0.00,66.09,66.09,53.14,0.63,1013.1,3.15,5.36,143.0,0.01,0.0,9.988,NaN,NaN
2,2018-07-01 09:00:00,Clear,clear-night,0.0000,0.00,64.30,64.30,53.15,0.67,1013.0,4.74,5.84,117.0,0.00,0.0,9.997,NaN,NaN
3,2018-07-01 10:00:00,Clear,clear-night,0.0000,0.00,63.42,63.42,53.22,0.69,1012.9,4.51,6.80,160.0,0.06,0.0,9.988,NaN,NaN
4,2018-07-01 11:00:00,Clear,clear-night,0.0000,0.00,61.73,61.73,53.10,0.73,1013.0,3.48,5.91,121.0,0.08,0.0,9.978,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,2020-05-22 02:00:00,Clear,clear-day,0.0000,0.00,69.47,69.47,48.13,0.47,1014.3,7.51,14.32,308.0,0.05,0.0,10.000,344.1,NaN
16570,2020-05-22 03:00:00,Clear,clear-day,0.0000,0.00,65.14,65.14,46.11,0.50,1014.5,8.23,12.70,318.0,0.05,0.0,10.000,342.9,NaN
16571,2020-05-22 04:00:00,Clear,clear-night,0.0000,0.00,61.28,61.28,46.18,0.58,1014.8,7.36,9.98,348.0,0.05,0.0,10.000,342.5,NaN
16572,2020-05-22 05:00:00,Clear,clear-night,0.0000,0.00,58.57,58.57,46.25,0.64,1015.4,5.51,7.44,345.0,0.05,0.0,10.000,342.8,NaN
16573,2020-05-22 06:00:00,Possible Drizzle,rain,0.0001,0.34,56.96,56.96,45.46,0.65,1015.3,4.93,6.76,355.0,0.01,0.0,10.000,343.4,rain

In [44]:
print(type(df_weather3['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [45]:
df_merged3 = df3.merge(
    df_weather3,
    left_on='utc_time',
    right_on='time',
    how='inner'
)
df_merged3.drop(columns=['time'], inplace=True)

In [46]:
df_merged3

,company,region,demand,local_time,utc_time,city,summary,icon,precipIntensity,precipProbability,...,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,ozone,precipType
0,CISO,PGAE,12522.0,2018-07-01 01:00:00,2018-07-01 08:00:00,san jose,Clear,clear-night,0.0000,0.00,...,0.63,1013.1,3.15,5.36,143.0,0.01,0.0,9.988,NaN,NaN
1,CISO,PGAE,11745.0,2018-07-01 02:00:00,2018-07-01 09:00:00,san jose,Clear,clear-night,0.0000,0.00,...,0.67,1013.0,4.74,5.84,117.0,0.00,0.0,9.997,NaN,NaN
2,CISO,PGAE,11200.0,2018-07-01 03:00:00,2018-07-01 10:00:00,san jose,Clear,clear-night,0.0000,0.00,...,0.69,1012.9,4.51,6.80,160.0,0.06,0.0,9.988,NaN,NaN
3,CISO,PGAE,10822.0,2018-07-01 04:00:00,2018-07-01 11:00:00,san jose,Clear,clear-night,0.0000,0.00,...,0.73,1013.0,3.48,5.91,121.0,0.08,0.0,9.978,NaN,NaN
4,CISO,PGAE,10644.0,2018-07-01 05:00:00,2018-07-01 12:00:00,san jose,Clear,clear-night,0.0000,0.00,...,0.76,1013.6,4.10,5.96,161.0,0.10,0.0,9.988,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16521,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose,Clear,clear-day,0.0009,0.01,...,0.63,1018.9,7.74,12.71,294.0,0.28,0.0,10.000,360.1,rain
16522,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose,Partly Cloudy,partly-cloudy-night,0.0013,0.01,...,0.68,1019.3,6.22,10.75,300.0,0.42,0.0,10.000,356.2,rain
16523,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose,Partly Cloudy,partly-cloudy-night,0.0004,0.01,...,0.69,1019.7,4.97,8.00,260.0,0.54,0.0,10.000,353.4,rain
16524,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose,Partly Cloudy,partly-cloudy-night,0.0005,0.01,...,0.73,1019.9,4.98,9.09,271.0,0.51,0.0,10.000,351.1,rain
16525,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose,Partly Cloudy,partly-cloudy-night,0.0013,0.01,...,0.73,1019.9,5.29,9.20,265.0,0.55,0.0,10.000,351.1,rain

In [47]:
df4 = pd.read_csv(csv_path1)
df4
df4 = df4[df4['city'] == 'dallas']
df4

,company,region,demand,local_time,utc_time,city
26502,ERCO,NCEN,NaN,2018-07-01 01:00:00,2018-07-01 06:00:00,dallas
26503,ERCO,NCEN,NaN,2018-07-01 02:00:00,2018-07-01 07:00:00,dallas
26504,ERCO,NCEN,NaN,2018-07-01 03:00:00,2018-07-01 08:00:00,dallas
26505,ERCO,NCEN,NaN,2018-07-01 04:00:00,2018-07-01 09:00:00,dallas
26506,ERCO,NCEN,NaN,2018-07-01 05:00:00,2018-07-01 10:00:00,dallas
...,...,...,...,...,...,...
128924,ERCO,NCEN,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,dallas
128925,ERCO,NCEN,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,dallas
128926,ERCO,NCEN,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,dallas
128927,ERCO,NCEN,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,dallas
128928,ERCO,NCEN,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,dallas

In [48]:
df4 = df4.reset_index(drop=True)
df4

      company region  demand           local_time             utc_time    city
0        ERCO   NCEN     NaN  2018-07-01 01:00:00  2018-07-01 06:00:00  dallas
1        ERCO   NCEN     NaN  2018-07-01 02:00:00  2018-07-01 07:00:00  dallas
2        ERCO   NCEN     NaN  2018-07-01 03:00:00  2018-07-01 08:00:00  dallas
3        ERCO   NCEN     NaN  2018-07-01 04:00:00  2018-07-01 09:00:00  dallas
4        ERCO   NCEN     NaN  2018-07-01 05:00:00  2018-07-01 10:00:00  dallas
...       ...    ...     ...                  ...                  ...     ...
16531    ERCO   NCEN     NaN  2020-05-19 20:00:00  2020-05-20 01:00:00  dallas
16532    ERCO   NCEN     NaN  2020-05-19 21:00:00  2020-05-20 02:00:00  dallas
16533    ERCO   NCEN     NaN  2020-05-19 22:00:00  2020-05-20 03:00:00  dallas
16534    ERCO   NCEN     NaN  2020-05-19 23:00:00  2020-05-20 04:00:00  dallas
16535    ERCO   NCEN     NaN  2020-05-20 00:00:00  2020-05-20 05:00:00  dallas

[16536 rows x 6 columns]

In [49]:
print(type(df4['utc_time'][0]))

<class 'str'>

In [50]:
# make the local_time column a datetime object
df4['utc_time'] = pd.to_datetime(df4['utc_time'])
df4
print(type(df4['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [51]:
df4

      company region  demand           local_time            utc_time    city
0        ERCO   NCEN     NaN  2018-07-01 01:00:00 2018-07-01 06:00:00  dallas
1        ERCO   NCEN     NaN  2018-07-01 02:00:00 2018-07-01 07:00:00  dallas
2        ERCO   NCEN     NaN  2018-07-01 03:00:00 2018-07-01 08:00:00  dallas
3        ERCO   NCEN     NaN  2018-07-01 04:00:00 2018-07-01 09:00:00  dallas
4        ERCO   NCEN     NaN  2018-07-01 05:00:00 2018-07-01 10:00:00  dallas
...       ...    ...     ...                  ...                 ...     ...
16531    ERCO   NCEN     NaN  2020-05-19 20:00:00 2020-05-20 01:00:00  dallas
16532    ERCO   NCEN     NaN  2020-05-19 21:00:00 2020-05-20 02:00:00  dallas
16533    ERCO   NCEN     NaN  2020-05-19 22:00:00 2020-05-20 03:00:00  dallas
16534    ERCO   NCEN     NaN  2020-05-19 23:00:00 2020-05-20 04:00:00  dallas
16535    ERCO   NCEN     NaN  2020-05-20 00:00:00 2020-05-20 05:00:00  dallas

[16536 rows x 6 columns]

In [52]:
df_weather4 = pd.read_json('/Volumes/meen/dallas.json', orient='records')
print(df_weather4)

             time                  summary               icon  \
0      1530507600                    Clear        clear-night
1      1530511200                    Clear        clear-night
2      1530514800                    Clear        clear-night
3      1530518400                    Clear        clear-night
4      1530522000                    Clear        clear-night
...           ...                      ...                ...
16569  1590192000  Humid and Partly Cloudy  partly-cloudy-day
16570  1590195600  Humid and Partly Cloudy  partly-cloudy-day
16571  1590199200                    Humid        clear-night
16572  1590202800                    Humid        clear-night
16573  1590206400                    Humid        clear-night

       precipIntensity  precipProbability  temperature  apparentTemperature  \
0               0.0000               0.00        89.56                91.71
1               0.0000               0.00        88.35                92.26
2               0.0000               0.00        87.05                91.45
3               0.0000               0.00        86.04                90.51
4               0.0000               0.00        84.80                89.74
...                ...                ...          ...                  ...
16569           0.0023               0.03        87.82                96.51
16570           0.0023               0.04        85.99                93.66
16571           0.0024               0.04        83.74                90.09
16572           0.0037               0.05        82.07                87.47
16573           0.0091               0.07        81.08                85.82

       dewPoint  humidity  pressure  windSpeed  windGust  windBearing  \
0         65.31      0.45    1011.9      10.84     12.40        164.0
1         68.29      0.52    1012.7       9.94      9.94        179.0
2         69.26      0.56    1012.8       8.92     10.31        186.0
3         69.61      0.58    1012.7       8.47      8.47        189.0
4         70.68      0.63    1012.9       5.61      5.61        193.0
...         ...       ...       ...        ...       ...          ...
16569     74.01      0.64    1007.3      13.85     22.64        165.0
16570     73.63      0.67    1007.5      13.42     24.25        164.0
16571     73.15      0.71    1007.9      12.80     25.85        163.0
16572     72.93      0.74    1008.4      12.38     27.11        163.0
16573     72.74      0.76    1008.9      12.40     28.39        168.0

       cloudCover  uvIndex  visibility precipType  ozone  precipAccumulation
0            0.06      0.0       9.617        NaN    NaN                 NaN
1            0.04      0.0       9.817        NaN    NaN                 NaN
2            0.04      0.0       9.510        NaN    NaN                 NaN
3            0.18      0.0       9.617        NaN    NaN                 NaN
4            0.15      0.0       9.617        NaN    NaN                 NaN
...           ...      ...         ...        ...    ...                 ...
16569        0.46      1.0      10.000       rain  305.9                 NaN
16570        0.34      0.0      10.000       rain  304.2                 NaN
16571        0.20      0.0      10.000       rain  301.3                 NaN
16572        0.12      0.0      10.000       rain  299.2                 NaN
16573        0.25      0.0      10.000       rain  298.8                 NaN

[16574 rows x 19 columns]

In [53]:
df_weather4['time'] = pd.to_datetime(df_weather4['time'], unit='s')

In [54]:
df_weather4

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,2018-07-02 05:00:00,Clear,clear-night,0.0000,0.00,89.56,91.71,65.31,0.45,1011.9,10.84,12.40,164.0,0.06,0.0,9.617,NaN,NaN,NaN
1,2018-07-02 06:00:00,Clear,clear-night,0.0000,0.00,88.35,92.26,68.29,0.52,1012.7,9.94,9.94,179.0,0.04,0.0,9.817,NaN,NaN,NaN
2,2018-07-02 07:00:00,Clear,clear-night,0.0000,0.00,87.05,91.45,69.26,0.56,1012.8,8.92,10.31,186.0,0.04,0.0,9.510,NaN,NaN,NaN
3,2018-07-02 08:00:00,Clear,clear-night,0.0000,0.00,86.04,90.51,69.61,0.58,1012.7,8.47,8.47,189.0,0.18,0.0,9.617,NaN,NaN,NaN
4,2018-07-02 09:00:00,Clear,clear-night,0.0000,0.00,84.80,89.74,70.68,0.63,1012.9,5.61,5.61,193.0,0.15,0.0,9.617,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,2020-05-23 00:00:00,Humid and Partly Cloudy,partly-cloudy-day,0.0023,0.03,87.82,96.51,74.01,0.64,1007.3,13.85,22.64,165.0,0.46,1.0,10.000,rain,305.9,NaN
16570,2020-05-23 01:00:00,Humid and Partly Cloudy,partly-cloudy-day,0.0023,0.04,85.99,93.66,73.63,0.67,1007.5,13.42,24.25,164.0,0.34,0.0,10.000,rain,304.2,NaN
16571,2020-05-23 02:00:00,Humid,clear-night,0.0024,0.04,83.74,90.09,73.15,0.71,1007.9,12.80,25.85,163.0,0.20,0.0,10.000,rain,301.3,NaN
16572,2020-05-23 03:00:00,Humid,clear-night,0.0037,0.05,82.07,87.47,72.93,0.74,1008.4,12.38,27.11,163.0,0.12,0.0,10.000,rain,299.2,NaN
16573,2020-05-23 04:00:00,Humid,clear-night,0.0091,0.07,81.08,85.82,72.74,0.76,1008.9,12.40,28.39,168.0,0.25,0.0,10.000,rain,298.8,NaN

In [55]:
print(type(df_weather4['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [56]:
df_merged4 = df4.merge(
    df_weather4,
    left_on='utc_time',
    right_on='time',
    how='inner'
)
df_merged4.drop(columns=['time'], inplace=True)

In [57]:
df_merged4

,company,region,demand,local_time,utc_time,city,summary,icon,precipIntensity,precipProbability,...,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,ERCO,NCEN,NaN,2018-07-02 00:00:00,2018-07-02 05:00:00,dallas,Clear,clear-night,0.0000,0.00,...,1011.9,10.84,12.40,164.0,0.06,0.0,9.617,NaN,NaN,NaN
1,ERCO,NCEN,NaN,2018-07-02 01:00:00,2018-07-02 06:00:00,dallas,Clear,clear-night,0.0000,0.00,...,1012.7,9.94,9.94,179.0,0.04,0.0,9.817,NaN,NaN,NaN
2,ERCO,NCEN,NaN,2018-07-02 02:00:00,2018-07-02 07:00:00,dallas,Clear,clear-night,0.0000,0.00,...,1012.8,8.92,10.31,186.0,0.04,0.0,9.510,NaN,NaN,NaN
3,ERCO,NCEN,NaN,2018-07-02 03:00:00,2018-07-02 08:00:00,dallas,Clear,clear-night,0.0000,0.00,...,1012.7,8.47,8.47,189.0,0.18,0.0,9.617,NaN,NaN,NaN
4,ERCO,NCEN,NaN,2018-07-02 04:00:00,2018-07-02 09:00:00,dallas,Clear,clear-night,0.0000,0.00,...,1012.9,5.61,5.61,193.0,0.15,0.0,9.617,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16498,ERCO,NCEN,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,dallas,Clear,clear-day,0.0078,0.01,...,1006.4,9.93,15.59,64.0,0.23,0.0,10.000,rain,296.8,NaN
16499,ERCO,NCEN,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,dallas,Clear,clear-night,0.0016,0.01,...,1007.4,10.18,18.38,70.0,0.18,0.0,10.000,rain,295.7,NaN
16500,ERCO,NCEN,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,dallas,Clear,clear-night,0.0011,0.01,...,1008.0,9.20,20.93,73.0,0.11,0.0,10.000,rain,295.0,NaN
16501,ERCO,NCEN,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,dallas,Clear,clear-night,0.0014,0.01,...,1008.2,8.76,20.51,76.0,0.17,0.0,10.000,rain,294.9,NaN
16502,ERCO,NCEN,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,dallas,Clear,clear-night,0.0000,0.00,...,1008.4,8.11,19.31,77.0,0.23,0.0,10.000,NaN,295.0,NaN

In [58]:
df5 = pd.read_csv(csv_path1)
df5

,company,region,demand,local_time,utc_time,city
0,NYIS,ZONJ,7269.0,2018-07-01 01:00:00,2018-07-01 05:00:00,nyc
1,NYIS,ZONJ,6977.0,2018-07-01 02:00:00,2018-07-01 06:00:00,nyc
2,NYIS,ZONJ,6725.0,2018-07-01 03:00:00,2018-07-01 07:00:00,nyc
3,NYIS,ZONJ,6539.0,2018-07-01 04:00:00,2018-07-01 08:00:00,nyc
4,NYIS,ZONJ,6415.0,2018-07-01 05:00:00,2018-07-01 09:00:00,nyc
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [59]:
# only keep rows that have city as seattle 
df5 = df5[df5['city'] == 'houston']
df5

,company,region,demand,local_time,utc_time,city
8834,ERCO,COAS,NaN,2018-07-01 01:00:00,2018-07-01 06:00:00,houston
8835,ERCO,COAS,NaN,2018-07-01 02:00:00,2018-07-01 07:00:00,houston
8836,ERCO,COAS,NaN,2018-07-01 03:00:00,2018-07-01 08:00:00,houston
8837,ERCO,COAS,NaN,2018-07-01 04:00:00,2018-07-01 09:00:00,houston
8838,ERCO,COAS,NaN,2018-07-01 05:00:00,2018-07-01 10:00:00,houston
...,...,...,...,...,...,...
115488,ERCO,COAS,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,houston
115489,ERCO,COAS,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,houston
115490,ERCO,COAS,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,houston
115491,ERCO,COAS,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,houston
115492,ERCO,COAS,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,houston

In [60]:
df5 = df5.reset_index(drop=True)
df5

,company,region,demand,local_time,utc_time,city
0,ERCO,COAS,NaN,2018-07-01 01:00:00,2018-07-01 06:00:00,houston
1,ERCO,COAS,NaN,2018-07-01 02:00:00,2018-07-01 07:00:00,houston
2,ERCO,COAS,NaN,2018-07-01 03:00:00,2018-07-01 08:00:00,houston
3,ERCO,COAS,NaN,2018-07-01 04:00:00,2018-07-01 09:00:00,houston
4,ERCO,COAS,NaN,2018-07-01 05:00:00,2018-07-01 10:00:00,houston
...,...,...,...,...,...,...
16531,ERCO,COAS,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,houston
16532,ERCO,COAS,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,houston
16533,ERCO,COAS,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,houston
16534,ERCO,COAS,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,houston
16535,ERCO,COAS,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,houston

In [61]:
# print the type of local_time column 
print(type(df5['utc_time'][0]))
# make the local_time column a datetime object
df5['utc_time'] = pd.to_datetime(df5['utc_time'])
df5

<class 'str'>

      company region  demand           local_time            utc_time     city
0        ERCO   COAS     NaN  2018-07-01 01:00:00 2018-07-01 06:00:00  houston
1        ERCO   COAS     NaN  2018-07-01 02:00:00 2018-07-01 07:00:00  houston
2        ERCO   COAS     NaN  2018-07-01 03:00:00 2018-07-01 08:00:00  houston
3        ERCO   COAS     NaN  2018-07-01 04:00:00 2018-07-01 09:00:00  houston
4        ERCO   COAS     NaN  2018-07-01 05:00:00 2018-07-01 10:00:00  houston
...       ...    ...     ...                  ...                 ...      ...
16531    ERCO   COAS     NaN  2020-05-19 20:00:00 2020-05-20 01:00:00  houston
16532    ERCO   COAS     NaN  2020-05-19 21:00:00 2020-05-20 02:00:00  houston
16533    ERCO   COAS     NaN  2020-05-19 22:00:00 2020-05-20 03:00:00  houston
16534    ERCO   COAS     NaN  2020-05-19 23:00:00 2020-05-20 04:00:00  houston
16535    ERCO   COAS     NaN  2020-05-20 00:00:00 2020-05-20 05:00:00  houston

[16536 rows x 6 columns]

In [62]:
print(type(df5['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [63]:
df_weather5 = pd.read_json('/Volumes/meen/houston.json', orient='records')
print(df_weather5)

             time                  summary                 icon  \
0      1530507600                    Humid          clear-night
1      1530511200                    Humid          clear-night
2      1530514800                    Humid          clear-night
3      1530518400                    Humid          clear-night
4      1530522000                    Humid          clear-night
...           ...                      ...                  ...
16569  1590192000            Partly Cloudy    partly-cloudy-day
16570  1590195600            Partly Cloudy    partly-cloudy-day
16571  1590199200  Humid and Partly Cloudy  partly-cloudy-night
16572  1590202800  Humid and Partly Cloudy  partly-cloudy-night
16573  1590206400  Humid and Partly Cloudy  partly-cloudy-night

       precipIntensity  precipProbability  temperature  apparentTemperature  \
0               0.0000               0.00        81.87                87.88
1               0.0000               0.00        81.29                86.90
2               0.0000               0.00        80.34                85.34
3               0.0000               0.00        79.75                84.06
4               0.0000               0.00        79.23                83.02
...                ...                ...          ...                  ...
16569           0.0000               0.00        87.89                93.74
16570           0.0000               0.00        85.22                90.94
16571           0.0003               0.01        82.07                87.26
16572           0.0006               0.02        80.04                84.52
16573           0.0008               0.02        79.27                83.31

       dewPoint  humidity  pressure  windSpeed  windGust  windBearing  \
0         74.15      0.78    1015.6       5.45      9.31        191.0
1         74.17      0.79    1015.4       5.30      7.54        195.0
2         74.47      0.82    1014.9       5.49      5.49        218.0
3         74.09      0.83    1014.8       3.53      8.39        187.0
4         74.02      0.84    1015.0       4.25      4.25        210.0
...         ...       ...       ...        ...       ...          ...
16569     70.93      0.57    1010.8      12.79     17.16        150.0
16570     71.60      0.64    1011.0      12.43     18.72        147.0
16571     72.57      0.73    1011.5      12.11     20.79        143.0
16572     73.87      0.82    1011.7      11.78     22.32        142.0
16573     74.78      0.86    1012.1      11.50     22.85        144.0

       cloudCover  uvIndex  visibility precipType  ozone  precipAccumulation
0            0.01      0.0       8.479        NaN    NaN                 NaN
1            0.00      0.0       7.880        NaN    NaN                 NaN
2            0.00      0.0       8.751        NaN    NaN                 NaN
3            0.01      0.0       7.772        NaN    NaN                 NaN
4            0.05      0.0       7.772        NaN    NaN                 NaN
...           ...      ...         ...        ...    ...                 ...
16569        0.49      0.0      10.000        NaN  297.5                 NaN
16570        0.46      0.0      10.000        NaN  298.4                 NaN
16571        0.43      0.0      10.000       rain  299.4                 NaN
16572        0.43      0.0      10.000       rain  300.4                 NaN
16573        0.49      0.0      10.000       rain  301.2                 NaN

[16574 rows x 19 columns]

In [64]:
df_weather5['time'] = pd.to_datetime(df_weather5['time'], unit='s')

In [65]:
df_weather5

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,2018-07-02 05:00:00,Humid,clear-night,0.0000,0.00,81.87,87.88,74.15,0.78,1015.6,5.45,9.31,191.0,0.01,0.0,8.479,NaN,NaN,NaN
1,2018-07-02 06:00:00,Humid,clear-night,0.0000,0.00,81.29,86.90,74.17,0.79,1015.4,5.30,7.54,195.0,0.00,0.0,7.880,NaN,NaN,NaN
2,2018-07-02 07:00:00,Humid,clear-night,0.0000,0.00,80.34,85.34,74.47,0.82,1014.9,5.49,5.49,218.0,0.00,0.0,8.751,NaN,NaN,NaN
3,2018-07-02 08:00:00,Humid,clear-night,0.0000,0.00,79.75,84.06,74.09,0.83,1014.8,3.53,8.39,187.0,0.01,0.0,7.772,NaN,NaN,NaN
4,2018-07-02 09:00:00,Humid,clear-night,0.0000,0.00,79.23,83.02,74.02,0.84,1015.0,4.25,4.25,210.0,0.05,0.0,7.772,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,2020-05-23 00:00:00,Partly Cloudy,partly-cloudy-day,0.0000,0.00,87.89,93.74,70.93,0.57,1010.8,12.79,17.16,150.0,0.49,0.0,10.000,NaN,297.5,NaN
16570,2020-05-23 01:00:00,Partly Cloudy,partly-cloudy-day,0.0000,0.00,85.22,90.94,71.60,0.64,1011.0,12.43,18.72,147.0,0.46,0.0,10.000,NaN,298.4,NaN
16571,2020-05-23 02:00:00,Humid and Partly Cloudy,partly-cloudy-night,0.0003,0.01,82.07,87.26,72.57,0.73,1011.5,12.11,20.79,143.0,0.43,0.0,10.000,rain,299.4,NaN
16572,2020-05-23 03:00:00,Humid and Partly Cloudy,partly-cloudy-night,0.0006,0.02,80.04,84.52,73.87,0.82,1011.7,11.78,22.32,142.0,0.43,0.0,10.000,rain,300.4,NaN
16573,2020-05-23 04:00:00,Humid and Partly Cloudy,partly-cloudy-night,0.0008,0.02,79.27,83.31,74.78,0.86,1012.1,11.50,22.85,144.0,0.49,0.0,10.000,rain,301.2,NaN

In [66]:
print(type(df_weather5['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [67]:
df_merged5 = df5.merge(
    df_weather5,
    left_on='utc_time',
    right_on='time',
    how='inner'
)
df_merged5.drop(columns=['time'], inplace=True)

In [68]:
df_merged5

,company,region,demand,local_time,utc_time,city,summary,icon,precipIntensity,precipProbability,...,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,ERCO,COAS,NaN,2018-07-02 00:00:00,2018-07-02 05:00:00,houston,Humid,clear-night,0.0000,0.00,...,1015.6,5.45,9.31,191.0,0.01,0.0,8.479,NaN,NaN,NaN
1,ERCO,COAS,NaN,2018-07-02 01:00:00,2018-07-02 06:00:00,houston,Humid,clear-night,0.0000,0.00,...,1015.4,5.30,7.54,195.0,0.00,0.0,7.880,NaN,NaN,NaN
2,ERCO,COAS,NaN,2018-07-02 02:00:00,2018-07-02 07:00:00,houston,Humid,clear-night,0.0000,0.00,...,1014.9,5.49,5.49,218.0,0.00,0.0,8.751,NaN,NaN,NaN
3,ERCO,COAS,NaN,2018-07-02 03:00:00,2018-07-02 08:00:00,houston,Humid,clear-night,0.0000,0.00,...,1014.8,3.53,8.39,187.0,0.01,0.0,7.772,NaN,NaN,NaN
4,ERCO,COAS,NaN,2018-07-02 04:00:00,2018-07-02 09:00:00,houston,Humid,clear-night,0.0000,0.00,...,1015.0,4.25,4.25,210.0,0.05,0.0,7.772,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16498,ERCO,COAS,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,houston,Humid,clear-day,0.0012,0.01,...,1007.4,9.06,14.34,201.0,0.00,0.0,10.000,rain,293.1,NaN
16499,ERCO,COAS,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,houston,Humid,clear-night,0.0005,0.01,...,1008.3,9.06,16.53,195.0,0.00,0.0,10.000,rain,292.6,NaN
16500,ERCO,COAS,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,houston,Humid,clear-night,0.0014,0.01,...,1008.5,8.31,17.15,191.0,0.00,0.0,10.000,rain,292.4,NaN
16501,ERCO,COAS,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,houston,Humid,clear-night,0.0019,0.01,...,1008.6,8.66,20.45,195.0,0.10,0.0,10.000,rain,292.5,NaN
16502,ERCO,COAS,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,houston,Humid,clear-night,0.0007,0.01,...,1008.5,8.54,21.93,199.0,0.19,0.0,10.000,rain,292.8,NaN

In [69]:
df6 = pd.read_csv(csv_path1)
df6

,company,region,demand,local_time,utc_time,city
0,NYIS,ZONJ,7269.0,2018-07-01 01:00:00,2018-07-01 05:00:00,nyc
1,NYIS,ZONJ,6977.0,2018-07-01 02:00:00,2018-07-01 06:00:00,nyc
2,NYIS,ZONJ,6725.0,2018-07-01 03:00:00,2018-07-01 07:00:00,nyc
3,NYIS,ZONJ,6539.0,2018-07-01 04:00:00,2018-07-01 08:00:00,nyc
4,NYIS,ZONJ,6415.0,2018-07-01 05:00:00,2018-07-01 09:00:00,nyc
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [70]:
# only keep rows that have city as seattle 
df6 = df6[df6['city'] == 'la']
df6

       company region   demand           local_time             utc_time city
4417      CISO    SCE  10681.0  2018-07-01 01:00:00  2018-07-01 08:00:00   la
4418      CISO    SCE  10197.0  2018-07-01 02:00:00  2018-07-01 09:00:00   la
4419      CISO    SCE   9776.0  2018-07-01 03:00:00  2018-07-01 10:00:00   la
4420      CISO    SCE   9508.0  2018-07-01 04:00:00  2018-07-01 11:00:00   la
4421      CISO    SCE   9431.0  2018-07-01 05:00:00  2018-07-01 12:00:00   la
...        ...    ...      ...                  ...                  ...  ...
112129    CISO    SCE  10893.0  2020-05-19 20:00:00  2020-05-20 03:00:00   la
112130    CISO    SCE  11263.0  2020-05-19 21:00:00  2020-05-20 04:00:00   la
112131    CISO    SCE  10952.0  2020-05-19 22:00:00  2020-05-20 05:00:00   la
112132    CISO    SCE  10338.0  2020-05-19 23:00:00  2020-05-20 06:00:00   la
112133    CISO    SCE   9621.0  2020-05-20 00:00:00  2020-05-20 07:00:00   la

[16536 rows x 6 columns]

In [71]:
df6 = df6.reset_index(drop=True)
df6

      company region   demand           local_time             utc_time city
0        CISO    SCE  10681.0  2018-07-01 01:00:00  2018-07-01 08:00:00   la
1        CISO    SCE  10197.0  2018-07-01 02:00:00  2018-07-01 09:00:00   la
2        CISO    SCE   9776.0  2018-07-01 03:00:00  2018-07-01 10:00:00   la
3        CISO    SCE   9508.0  2018-07-01 04:00:00  2018-07-01 11:00:00   la
4        CISO    SCE   9431.0  2018-07-01 05:00:00  2018-07-01 12:00:00   la
...       ...    ...      ...                  ...                  ...  ...
16531    CISO    SCE  10893.0  2020-05-19 20:00:00  2020-05-20 03:00:00   la
16532    CISO    SCE  11263.0  2020-05-19 21:00:00  2020-05-20 04:00:00   la
16533    CISO    SCE  10952.0  2020-05-19 22:00:00  2020-05-20 05:00:00   la
16534    CISO    SCE  10338.0  2020-05-19 23:00:00  2020-05-20 06:00:00   la
16535    CISO    SCE   9621.0  2020-05-20 00:00:00  2020-05-20 07:00:00   la

[16536 rows x 6 columns]

In [72]:
# print the type of local_time column 
print(type(df6['utc_time'][0]))

<class 'str'>

In [73]:
# make the local_time column a datetime object
df6['utc_time'] = pd.to_datetime(df6['utc_time'])
df6

      company region   demand           local_time            utc_time city
0        CISO    SCE  10681.0  2018-07-01 01:00:00 2018-07-01 08:00:00   la
1        CISO    SCE  10197.0  2018-07-01 02:00:00 2018-07-01 09:00:00   la
2        CISO    SCE   9776.0  2018-07-01 03:00:00 2018-07-01 10:00:00   la
3        CISO    SCE   9508.0  2018-07-01 04:00:00 2018-07-01 11:00:00   la
4        CISO    SCE   9431.0  2018-07-01 05:00:00 2018-07-01 12:00:00   la
...       ...    ...      ...                  ...                 ...  ...
16531    CISO    SCE  10893.0  2020-05-19 20:00:00 2020-05-20 03:00:00   la
16532    CISO    SCE  11263.0  2020-05-19 21:00:00 2020-05-20 04:00:00   la
16533    CISO    SCE  10952.0  2020-05-19 22:00:00 2020-05-20 05:00:00   la
16534    CISO    SCE  10338.0  2020-05-19 23:00:00 2020-05-20 06:00:00   la
16535    CISO    SCE   9621.0  2020-05-20 00:00:00 2020-05-20 07:00:00   la

[16536 rows x 6 columns]

In [74]:
print(type(df6['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [75]:
df_weather6 = pd.read_json('/Volumes/meen/la.json', orient='records')
print(df_weather6)

             time   summary         icon  precipIntensity  precipProbability  \
0      1530428400     Clear  clear-night           0.0000               0.00
1      1530432000  Overcast       cloudy           0.0000               0.00
2      1530435600  Overcast       cloudy           0.0000               0.00
3      1530439200  Overcast       cloudy           0.0000               0.00
4      1530442800  Overcast       cloudy           0.0000               0.00
...           ...       ...          ...              ...                ...
16569  1590112800     Clear    clear-day           0.0083               0.01
16570  1590116400     Clear  clear-night           0.0000               0.00
16571  1590120000     Clear  clear-night           0.0000               0.00
16572  1590123600     Clear  clear-night           0.0000               0.00
16573  1590127200     Clear  clear-night           0.0000               0.00

       temperature  apparentTemperature  dewPoint  humidity  pressure  \
0            65.45                65.45     58.64      0.79    1014.5
1            65.16                65.16     58.62      0.79    1014.4
2            64.58                64.58     58.23      0.80    1014.1
3            64.46                64.46     57.87      0.79    1013.9
4            64.19                64.19     57.96      0.80    1014.1
...            ...                  ...       ...       ...       ...
16569        78.69                78.69     48.05      0.34    1010.7
16570        74.25                74.25     49.05      0.41    1010.9
16571        70.94                70.94     48.91      0.46    1011.1
16572        68.82                68.82     48.74      0.49    1011.8
16573        67.09                67.09     49.13      0.52    1012.1

       windSpeed  windGust  windBearing  cloudCover  uvIndex  visibility  \
0           4.23      4.23        243.0        0.25      0.0       9.798
1           3.95      3.95        193.0        0.88      0.0       9.777
2           4.21      4.21        185.0        0.92      0.0       9.778
3           4.01      4.04        175.0        0.99      0.0       9.782
4           3.81      3.81        182.0        1.00      0.0       9.108
...          ...       ...          ...         ...      ...         ...
16569       4.62      8.96        239.0        0.00      0.0      10.000
16570       2.41      7.73        250.0        0.01      0.0      10.000
16571       2.58      6.56        294.0        0.01      0.0      10.000
16572       2.68      5.03        246.0        0.02      0.0      10.000
16573       3.02      6.72        155.0        0.03      0.0      10.000

      precipType  ozone
0            NaN    NaN
1            NaN    NaN
2            NaN    NaN
3            NaN    NaN
4            NaN    NaN
...          ...    ...
16569       rain  316.3
16570        NaN  317.7
16571        NaN  317.5
16572        NaN  316.3
16573        NaN  315.7

[16574 rows x 18 columns]

In [76]:
df_weather6['time'] = pd.to_datetime(df_weather6['time'], unit='s')

In [77]:
df_weather6

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone
0,2018-07-01 07:00:00,Clear,clear-night,0.0000,0.00,65.45,65.45,58.64,0.79,1014.5,4.23,4.23,243.0,0.25,0.0,9.798,NaN,NaN
1,2018-07-01 08:00:00,Overcast,cloudy,0.0000,0.00,65.16,65.16,58.62,0.79,1014.4,3.95,3.95,193.0,0.88,0.0,9.777,NaN,NaN
2,2018-07-01 09:00:00,Overcast,cloudy,0.0000,0.00,64.58,64.58,58.23,0.80,1014.1,4.21,4.21,185.0,0.92,0.0,9.778,NaN,NaN
3,2018-07-01 10:00:00,Overcast,cloudy,0.0000,0.00,64.46,64.46,57.87,0.79,1013.9,4.01,4.04,175.0,0.99,0.0,9.782,NaN,NaN
4,2018-07-01 11:00:00,Overcast,cloudy,0.0000,0.00,64.19,64.19,57.96,0.80,1014.1,3.81,3.81,182.0,1.00,0.0,9.108,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,2020-05-22 02:00:00,Clear,clear-day,0.0083,0.01,78.69,78.69,48.05,0.34,1010.7,4.62,8.96,239.0,0.00,0.0,10.000,rain,316.3
16570,2020-05-22 03:00:00,Clear,clear-night,0.0000,0.00,74.25,74.25,49.05,0.41,1010.9,2.41,7.73,250.0,0.01,0.0,10.000,NaN,317.7
16571,2020-05-22 04:00:00,Clear,clear-night,0.0000,0.00,70.94,70.94,48.91,0.46,1011.1,2.58,6.56,294.0,0.01,0.0,10.000,NaN,317.5
16572,2020-05-22 05:00:00,Clear,clear-night,0.0000,0.00,68.82,68.82,48.74,0.49,1011.8,2.68,5.03,246.0,0.02,0.0,10.000,NaN,316.3
16573,2020-05-22 06:00:00,Clear,clear-night,0.0000,0.00,67.09,67.09,49.13,0.52,1012.1,3.02,6.72,155.0,0.03,0.0,10.000,NaN,315.7

In [78]:
print(type(df_weather6['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [79]:
df_merged6 = df6.merge(
    df_weather6,
    left_on='utc_time',
    right_on='time',
    how='inner'
)
df_merged6.drop(columns=['time'], inplace=True)

In [80]:
df_merged6

,company,region,demand,local_time,utc_time,city,summary,icon,precipIntensity,precipProbability,...,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone
0,CISO,SCE,10681.0,2018-07-01 01:00:00,2018-07-01 08:00:00,la,Overcast,cloudy,0.0000,0.00,...,0.79,1014.4,3.95,3.95,193.0,0.88,0.0,9.777,NaN,NaN
1,CISO,SCE,10197.0,2018-07-01 02:00:00,2018-07-01 09:00:00,la,Overcast,cloudy,0.0000,0.00,...,0.80,1014.1,4.21,4.21,185.0,0.92,0.0,9.778,NaN,NaN
2,CISO,SCE,9776.0,2018-07-01 03:00:00,2018-07-01 10:00:00,la,Overcast,cloudy,0.0000,0.00,...,0.79,1013.9,4.01,4.04,175.0,0.99,0.0,9.782,NaN,NaN
3,CISO,SCE,9508.0,2018-07-01 04:00:00,2018-07-01 11:00:00,la,Overcast,cloudy,0.0000,0.00,...,0.80,1014.1,3.81,3.81,182.0,1.00,0.0,9.108,NaN,NaN
4,CISO,SCE,9431.0,2018-07-01 05:00:00,2018-07-01 12:00:00,la,Overcast,cloudy,0.0000,0.00,...,0.80,1014.6,3.81,3.81,181.0,1.00,0.0,9.709,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16521,CISO,SCE,10893.0,2020-05-19 20:00:00,2020-05-20 03:00:00,la,Clear,clear-night,0.0012,0.01,...,0.52,1015.8,3.97,8.93,261.0,0.03,0.0,10.000,rain,347.5
16522,CISO,SCE,11263.0,2020-05-19 21:00:00,2020-05-20 04:00:00,la,Clear,clear-night,0.0015,0.01,...,0.59,1016.2,3.34,8.24,286.0,0.03,0.0,10.000,rain,345.1
16523,CISO,SCE,10952.0,2020-05-19 22:00:00,2020-05-20 05:00:00,la,Clear,clear-night,0.0000,0.00,...,0.63,1016.8,2.29,6.37,262.0,0.02,0.0,10.000,NaN,342.2
16524,CISO,SCE,10338.0,2020-05-19 23:00:00,2020-05-20 06:00:00,la,Clear,clear-night,0.0000,0.00,...,0.67,1017.3,1.61,4.62,253.0,0.01,0.0,10.000,NaN,339.9
16525,CISO,SCE,9621.0,2020-05-20 00:00:00,2020-05-20 07:00:00,la,Clear,clear-night,0.0012,0.01,...,0.72,1017.3,1.37,2.50,103.0,0.00,0.0,10.000,rain,338.7

In [81]:
df7 = pd.read_csv(csv_path1)
df7

,company,region,demand,local_time,utc_time,city
0,NYIS,ZONJ,7269.0,2018-07-01 01:00:00,2018-07-01 05:00:00,nyc
1,NYIS,ZONJ,6977.0,2018-07-01 02:00:00,2018-07-01 06:00:00,nyc
2,NYIS,ZONJ,6725.0,2018-07-01 03:00:00,2018-07-01 07:00:00,nyc
3,NYIS,ZONJ,6539.0,2018-07-01 04:00:00,2018-07-01 08:00:00,nyc
4,NYIS,ZONJ,6415.0,2018-07-01 05:00:00,2018-07-01 09:00:00,nyc
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [82]:
# only keep rows that have city as seattle 
df7 = df7[df7['city'] == 'philadelphia']
df7

,company,region,demand,local_time,utc_time,city
13251,PJM,PE,4397.0,2018-07-01 01:00:00,2018-07-01 05:00:00,philadelphia
13252,PJM,PE,4423.0,2018-07-01 02:00:00,2018-07-01 06:00:00,philadelphia
13253,PJM,PE,4743.0,2018-07-01 03:00:00,2018-07-01 07:00:00,philadelphia
13254,PJM,PE,5230.0,2018-07-01 04:00:00,2018-07-01 08:00:00,philadelphia
13255,PJM,PE,5752.0,2018-07-01 05:00:00,2018-07-01 09:00:00,philadelphia
...,...,...,...,...,...,...
118847,PJM,PE,NaN,2020-05-19 20:00:00,2020-05-20 00:00:00,philadelphia
118848,PJM,PE,NaN,2020-05-19 21:00:00,2020-05-20 01:00:00,philadelphia
118849,PJM,PE,NaN,2020-05-19 22:00:00,2020-05-20 02:00:00,philadelphia
118850,PJM,PE,NaN,2020-05-19 23:00:00,2020-05-20 03:00:00,philadelphia
118851,PJM,PE,NaN,2020-05-20 00:00:00,2020-05-20 04:00:00,philadelphia

In [83]:
# drop index 
df7 = df7.reset_index(drop=True)
df7

,company,region,demand,local_time,utc_time,city
0,PJM,PE,4397.0,2018-07-01 01:00:00,2018-07-01 05:00:00,philadelphia
1,PJM,PE,4423.0,2018-07-01 02:00:00,2018-07-01 06:00:00,philadelphia
2,PJM,PE,4743.0,2018-07-01 03:00:00,2018-07-01 07:00:00,philadelphia
3,PJM,PE,5230.0,2018-07-01 04:00:00,2018-07-01 08:00:00,philadelphia
4,PJM,PE,5752.0,2018-07-01 05:00:00,2018-07-01 09:00:00,philadelphia
...,...,...,...,...,...,...
16531,PJM,PE,NaN,2020-05-19 20:00:00,2020-05-20 00:00:00,philadelphia
16532,PJM,PE,NaN,2020-05-19 21:00:00,2020-05-20 01:00:00,philadelphia
16533,PJM,PE,NaN,2020-05-19 22:00:00,2020-05-20 02:00:00,philadelphia
16534,PJM,PE,NaN,2020-05-19 23:00:00,2020-05-20 03:00:00,philadelphia
16535,PJM,PE,NaN,2020-05-20 00:00:00,2020-05-20 04:00:00,philadelphia

In [84]:
# print the type of local_time column 
print(type(df7['utc_time'][0]))

<class 'str'>

In [85]:
# make the local_time column a datetime object
df7['utc_time'] = pd.to_datetime(df7['utc_time'])
df7

,company,region,demand,local_time,utc_time,city
0,PJM,PE,4397.0,2018-07-01 01:00:00,2018-07-01 05:00:00,philadelphia
1,PJM,PE,4423.0,2018-07-01 02:00:00,2018-07-01 06:00:00,philadelphia
2,PJM,PE,4743.0,2018-07-01 03:00:00,2018-07-01 07:00:00,philadelphia
3,PJM,PE,5230.0,2018-07-01 04:00:00,2018-07-01 08:00:00,philadelphia
4,PJM,PE,5752.0,2018-07-01 05:00:00,2018-07-01 09:00:00,philadelphia
...,...,...,...,...,...,...
16531,PJM,PE,NaN,2020-05-19 20:00:00,2020-05-20 00:00:00,philadelphia
16532,PJM,PE,NaN,2020-05-19 21:00:00,2020-05-20 01:00:00,philadelphia
16533,PJM,PE,NaN,2020-05-19 22:00:00,2020-05-20 02:00:00,philadelphia
16534,PJM,PE,NaN,2020-05-19 23:00:00,2020-05-20 03:00:00,philadelphia
16535,PJM,PE,NaN,2020-05-20 00:00:00,2020-05-20 04:00:00,philadelphia

In [86]:
print(type(df7['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [87]:
df_weather7 = pd.read_json('/Volumes/meen/philadelphia.json', orient='records')
print(df_weather7)

             time              summary         icon  precipIntensity  \
0      1530504000                Clear  clear-night           0.0000
1      1530507600                Clear  clear-night           0.0000
2      1530511200                Clear  clear-night           0.0000
3      1530514800                Clear  clear-night           0.0000
4      1530518400                Clear  clear-night           0.0000
...           ...                  ...          ...              ...
16569  1590188400  Possible Light Rain         rain           0.0111
16570  1590192000  Possible Light Rain         rain           0.0103
16571  1590195600     Possible Drizzle         rain           0.0066
16572  1590199200             Overcast       cloudy           0.0030
16573  1590202800             Overcast       cloudy           0.0016

       precipProbability  temperature  apparentTemperature  dewPoint  \
0                   0.00        80.27                83.79     70.79
1                   0.00        79.74                82.67     69.59
2                   0.00        78.14                79.19     69.70
3                   0.00        76.94                78.02     69.75
4                   0.00        76.07                77.20     69.96
...                  ...          ...                  ...       ...
16569               0.42        65.13                65.54     61.87
16570               0.41        64.70                65.08     61.63
16571               0.34        64.42                64.86     61.89
16572               0.22        64.37                64.84     62.06
16573               0.14        64.30                64.75     61.93

       humidity  pressure  windSpeed  windGust  windBearing  cloudCover  \
0          0.73    1017.3       3.03      3.21        238.0        0.12
1          0.71    1017.2       2.39      2.39        226.0        0.05
2          0.75    1017.6       1.78      1.78        226.0        0.20
3          0.79    1017.6       0.95      1.21        192.0        0.12
4          0.81    1017.5       1.23      1.49        214.0        0.05
...         ...       ...        ...       ...          ...         ...
16569      0.89    1017.1       6.41     11.84        118.0        1.00
16570      0.90    1016.8       5.73     10.80        116.0        1.00
16571      0.92    1016.8       5.23     10.11        119.0        0.98
16572      0.92    1016.8       4.74      9.59        123.0        0.97
16573      0.92    1016.8       4.28      8.85        124.0        0.97

       uvIndex  visibility precipType  ozone  precipAccumulation
0          0.0       9.964        NaN    NaN                 NaN
1          0.0       9.705        NaN    NaN                 NaN
2          0.0       9.553        NaN    NaN                 NaN
3          0.0       9.401        NaN    NaN                 NaN
4          0.0       8.918        NaN    NaN                 NaN
...        ...         ...        ...    ...                 ...
16569      0.0      10.000       rain  333.4                 NaN
16570      0.0      10.000       rain  334.8                 NaN
16571      0.0      10.000       rain  335.1                 NaN
16572      0.0      10.000       rain  334.8                 NaN
16573      0.0      10.000       rain  335.0                 NaN

[16574 rows x 19 columns]

In [88]:
df_weather7['time'] = pd.to_datetime(df_weather7['time'], unit='s')

In [89]:
df_weather7

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,2018-07-02 04:00:00,Clear,clear-night,0.0000,0.00,80.27,83.79,70.79,0.73,1017.3,3.03,3.21,238.0,0.12,0.0,9.964,NaN,NaN,NaN
1,2018-07-02 05:00:00,Clear,clear-night,0.0000,0.00,79.74,82.67,69.59,0.71,1017.2,2.39,2.39,226.0,0.05,0.0,9.705,NaN,NaN,NaN
2,2018-07-02 06:00:00,Clear,clear-night,0.0000,0.00,78.14,79.19,69.70,0.75,1017.6,1.78,1.78,226.0,0.20,0.0,9.553,NaN,NaN,NaN
3,2018-07-02 07:00:00,Clear,clear-night,0.0000,0.00,76.94,78.02,69.75,0.79,1017.6,0.95,1.21,192.0,0.12,0.0,9.401,NaN,NaN,NaN
4,2018-07-02 08:00:00,Clear,clear-night,0.0000,0.00,76.07,77.20,69.96,0.81,1017.5,1.23,1.49,214.0,0.05,0.0,8.918,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,2020-05-22 23:00:00,Possible Light Rain,rain,0.0111,0.42,65.13,65.54,61.87,0.89,1017.1,6.41,11.84,118.0,1.00,0.0,10.000,rain,333.4,NaN
16570,2020-05-23 00:00:00,Possible Light Rain,rain,0.0103,0.41,64.70,65.08,61.63,0.90,1016.8,5.73,10.80,116.0,1.00,0.0,10.000,rain,334.8,NaN
16571,2020-05-23 01:00:00,Possible Drizzle,rain,0.0066,0.34,64.42,64.86,61.89,0.92,1016.8,5.23,10.11,119.0,0.98,0.0,10.000,rain,335.1,NaN
16572,2020-05-23 02:00:00,Overcast,cloudy,0.0030,0.22,64.37,64.84,62.06,0.92,1016.8,4.74,9.59,123.0,0.97,0.0,10.000,rain,334.8,NaN
16573,2020-05-23 03:00:00,Overcast,cloudy,0.0016,0.14,64.30,64.75,61.93,0.92,1016.8,4.28,8.85,124.0,0.97,0.0,10.000,rain,335.0,NaN

In [90]:
print(type(df_weather7['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [91]:
df_merged7 = df7.merge(
    df_weather7,
    left_on='utc_time',
    right_on='time',
    how='inner'
)
df_merged7.drop(columns=['time'], inplace=True)

In [92]:
df_merged7

,company,region,demand,local_time,utc_time,city,summary,icon,precipIntensity,precipProbability,...,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,PJM,PE,4774.0,2018-07-02 00:00:00,2018-07-02 04:00:00,philadelphia,Clear,clear-night,0.0000,0.00,...,1017.3,3.03,3.21,238.0,0.12,0.0,9.964,NaN,NaN,NaN
1,PJM,PE,4397.0,2018-07-02 01:00:00,2018-07-02 05:00:00,philadelphia,Clear,clear-night,0.0000,0.00,...,1017.2,2.39,2.39,226.0,0.05,0.0,9.705,NaN,NaN,NaN
2,PJM,PE,4423.0,2018-07-02 02:00:00,2018-07-02 06:00:00,philadelphia,Clear,clear-night,0.0000,0.00,...,1017.6,1.78,1.78,226.0,0.20,0.0,9.553,NaN,NaN,NaN
3,PJM,PE,4743.0,2018-07-02 03:00:00,2018-07-02 07:00:00,philadelphia,Clear,clear-night,0.0000,0.00,...,1017.6,0.95,1.21,192.0,0.12,0.0,9.401,NaN,NaN,NaN
4,PJM,PE,5230.0,2018-07-02 04:00:00,2018-07-02 08:00:00,philadelphia,Clear,clear-night,0.0000,0.00,...,1017.5,1.23,1.49,214.0,0.05,0.0,8.918,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16498,PJM,PE,NaN,2020-05-19 20:00:00,2020-05-20 00:00:00,philadelphia,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,...,1026.8,13.21,25.27,89.0,0.87,0.0,10.000,NaN,315.3,NaN
16499,PJM,PE,NaN,2020-05-19 21:00:00,2020-05-20 01:00:00,philadelphia,Mostly Cloudy,partly-cloudy-night,0.0000,0.00,...,1027.2,12.17,24.75,88.0,0.84,0.0,10.000,NaN,318.1,NaN
16500,PJM,PE,NaN,2020-05-19 22:00:00,2020-05-20 02:00:00,philadelphia,Mostly Cloudy,partly-cloudy-night,0.0000,0.00,...,1027.4,11.78,25.32,86.0,0.79,0.0,10.000,NaN,318.2,NaN
16501,PJM,PE,NaN,2020-05-19 23:00:00,2020-05-20 03:00:00,philadelphia,Mostly Cloudy,partly-cloudy-night,0.0013,0.01,...,1027.5,11.15,25.04,83.0,0.79,0.0,10.000,rain,318.0,NaN
16502,PJM,PE,NaN,2020-05-20 00:00:00,2020-05-20 04:00:00,philadelphia,Mostly Cloudy,partly-cloudy-night,0.0017,0.01,...,1027.6,10.53,23.85,80.0,0.83,0.0,10.000,rain,317.3,NaN

In [130]:
df8 = pd.read_csv(csv_path1)
df8

,company,region,demand,local_time,utc_time,city
0,NYIS,ZONJ,7269.0,2018-07-01 01:00:00,2018-07-01 05:00:00,nyc
1,NYIS,ZONJ,6977.0,2018-07-01 02:00:00,2018-07-01 06:00:00,nyc
2,NYIS,ZONJ,6725.0,2018-07-01 03:00:00,2018-07-01 07:00:00,nyc
3,NYIS,ZONJ,6539.0,2018-07-01 04:00:00,2018-07-01 08:00:00,nyc
4,NYIS,ZONJ,6415.0,2018-07-01 05:00:00,2018-07-01 09:00:00,nyc
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [131]:
df8 = df8[df8['city'] == 'san antonio']
df8

,company,region,demand,local_time,utc_time,city
17668,ERCO,SCEN,NaN,2018-07-01 01:00:00,2018-07-01 06:00:00,san antonio
17669,ERCO,SCEN,NaN,2018-07-01 02:00:00,2018-07-01 07:00:00,san antonio
17670,ERCO,SCEN,NaN,2018-07-01 03:00:00,2018-07-01 08:00:00,san antonio
17671,ERCO,SCEN,NaN,2018-07-01 04:00:00,2018-07-01 09:00:00,san antonio
17672,ERCO,SCEN,NaN,2018-07-01 05:00:00,2018-07-01 10:00:00,san antonio
...,...,...,...,...,...,...
122206,ERCO,SCEN,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,san antonio
122207,ERCO,SCEN,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,san antonio
122208,ERCO,SCEN,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,san antonio
122209,ERCO,SCEN,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,san antonio
122210,ERCO,SCEN,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,san antonio

In [132]:
df8 = df8.reset_index(drop=True)
df8

,company,region,demand,local_time,utc_time,city
0,ERCO,SCEN,NaN,2018-07-01 01:00:00,2018-07-01 06:00:00,san antonio
1,ERCO,SCEN,NaN,2018-07-01 02:00:00,2018-07-01 07:00:00,san antonio
2,ERCO,SCEN,NaN,2018-07-01 03:00:00,2018-07-01 08:00:00,san antonio
3,ERCO,SCEN,NaN,2018-07-01 04:00:00,2018-07-01 09:00:00,san antonio
4,ERCO,SCEN,NaN,2018-07-01 05:00:00,2018-07-01 10:00:00,san antonio
...,...,...,...,...,...,...
16531,ERCO,SCEN,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,san antonio
16532,ERCO,SCEN,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,san antonio
16533,ERCO,SCEN,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,san antonio
16534,ERCO,SCEN,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,san antonio
16535,ERCO,SCEN,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,san antonio

In [133]:
# print the type of local_time column 
print(type(df8['utc_time'][0]))
# make the local_time column a datetime object
df8['utc_time'] = pd.to_datetime(df8['utc_time'])
df8

<class 'str'>

,company,region,demand,local_time,utc_time,city
0,ERCO,SCEN,NaN,2018-07-01 01:00:00,2018-07-01 06:00:00,san antonio
1,ERCO,SCEN,NaN,2018-07-01 02:00:00,2018-07-01 07:00:00,san antonio
2,ERCO,SCEN,NaN,2018-07-01 03:00:00,2018-07-01 08:00:00,san antonio
3,ERCO,SCEN,NaN,2018-07-01 04:00:00,2018-07-01 09:00:00,san antonio
4,ERCO,SCEN,NaN,2018-07-01 05:00:00,2018-07-01 10:00:00,san antonio
...,...,...,...,...,...,...
16531,ERCO,SCEN,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,san antonio
16532,ERCO,SCEN,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,san antonio
16533,ERCO,SCEN,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,san antonio
16534,ERCO,SCEN,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,san antonio
16535,ERCO,SCEN,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,san antonio

In [134]:
print(type(df8['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [135]:
df_weather8 = pd.read_json('/Volumes/meen/san_antonio.json', orient='records')
print(df_weather8)

             time                  summary                 icon  \
0      1530507600                    Humid          clear-night
1      1530511200                    Humid          clear-night
2      1530514800  Humid and Mostly Cloudy  partly-cloudy-night
3      1530518400  Humid and Mostly Cloudy  partly-cloudy-night
4      1530522000  Humid and Partly Cloudy  partly-cloudy-night
...           ...                      ...                  ...
16569  1590192000  Humid and Partly Cloudy    partly-cloudy-day
16570  1590195600                    Humid            clear-day
16571  1590199200                    Clear          clear-night
16572  1590202800                    Clear          clear-night
16573  1590206400                    Clear          clear-night

       precipIntensity  precipProbability  temperature  apparentTemperature  \
0               0.0000               0.00        81.09                86.15
1               0.0000               0.00        79.40                82.99
2               0.0000               0.00        78.22                79.70
3               0.0000               0.00        78.22                79.67
4               0.0000               0.00        77.08                78.47
...                ...                ...          ...                  ...
16569           0.0000               0.00        90.56                99.22
16570           0.0000               0.00        88.32                95.58
16571           0.0004               0.01        85.65                91.22
16572           0.0010               0.02        83.25                87.76
16573           0.0014               0.02        81.33                85.39

       dewPoint  humidity  pressure  windSpeed  windGust  windBearing  \
0         73.38      0.77    1014.7       9.02      9.02        131.0
1         72.74      0.80    1014.7       9.18      9.18        131.0
2         73.07      0.84    1014.3      11.20     11.20        141.0
3         72.85      0.84    1014.6       8.01      8.01        162.0
4         72.18      0.85    1013.6       4.81      4.81        181.0
...         ...       ...       ...        ...       ...          ...
16569     73.18      0.57    1007.0      13.32     17.07        144.0
16570     72.41      0.59    1007.4      13.42     19.50        143.0
16571     71.25      0.62    1008.3      13.46     22.66        142.0
16572     70.63      0.66    1008.8      13.17     24.94        144.0
16573     71.03      0.71    1009.6      12.29     25.46        144.0

       cloudCover  uvIndex  visibility precipType  ozone  precipAccumulation
0            0.01      0.0       9.997        NaN    NaN                 NaN
1            0.02      0.0       9.976        NaN    NaN                 NaN
2            0.75      0.0       9.976        NaN    NaN                 NaN
3            0.75      0.0       9.976        NaN    NaN                 NaN
4            0.45      0.0       9.976        NaN    NaN                 NaN
...           ...      ...         ...        ...    ...                 ...
16569        0.41      1.0      10.000        NaN  302.6                 NaN
16570        0.30      0.0      10.000        NaN  302.0                 NaN
16571        0.13      0.0      10.000       rain  301.1                 NaN
16572        0.03      0.0      10.000       rain  300.5                 NaN
16573        0.04      0.0      10.000       rain  301.0                 NaN

[16574 rows x 19 columns]

In [136]:
df_weather8['time'] = pd.to_datetime(df_weather8['time'], unit='s')

In [137]:
df_weather8

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,2018-07-02 05:00:00,Humid,clear-night,0.0000,0.00,81.09,86.15,73.38,0.77,1014.7,9.02,9.02,131.0,0.01,0.0,9.997,NaN,NaN,NaN
1,2018-07-02 06:00:00,Humid,clear-night,0.0000,0.00,79.40,82.99,72.74,0.80,1014.7,9.18,9.18,131.0,0.02,0.0,9.976,NaN,NaN,NaN
2,2018-07-02 07:00:00,Humid and Mostly Cloudy,partly-cloudy-night,0.0000,0.00,78.22,79.70,73.07,0.84,1014.3,11.20,11.20,141.0,0.75,0.0,9.976,NaN,NaN,NaN
3,2018-07-02 08:00:00,Humid and Mostly Cloudy,partly-cloudy-night,0.0000,0.00,78.22,79.67,72.85,0.84,1014.6,8.01,8.01,162.0,0.75,0.0,9.976,NaN,NaN,NaN
4,2018-07-02 09:00:00,Humid and Partly Cloudy,partly-cloudy-night,0.0000,0.00,77.08,78.47,72.18,0.85,1013.6,4.81,4.81,181.0,0.45,0.0,9.976,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,2020-05-23 00:00:00,Humid and Partly Cloudy,partly-cloudy-day,0.0000,0.00,90.56,99.22,73.18,0.57,1007.0,13.32,17.07,144.0,0.41,1.0,10.000,NaN,302.6,NaN
16570,2020-05-23 01:00:00,Humid,clear-day,0.0000,0.00,88.32,95.58,72.41,0.59,1007.4,13.42,19.50,143.0,0.30,0.0,10.000,NaN,302.0,NaN
16571,2020-05-23 02:00:00,Clear,clear-night,0.0004,0.01,85.65,91.22,71.25,0.62,1008.3,13.46,22.66,142.0,0.13,0.0,10.000,rain,301.1,NaN
16572,2020-05-23 03:00:00,Clear,clear-night,0.0010,0.02,83.25,87.76,70.63,0.66,1008.8,13.17,24.94,144.0,0.03,0.0,10.000,rain,300.5,NaN
16573,2020-05-23 04:00:00,Clear,clear-night,0.0014,0.02,81.33,85.39,71.03,0.71,1009.6,12.29,25.46,144.0,0.04,0.0,10.000,rain,301.0,NaN

In [138]:
print(type(df_weather8['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [139]:
df_merged8 = df8.merge(
    df_weather8,
    left_on='utc_time',
    right_on='time',
    how='inner'
)
df_merged8.drop(columns=['time'], inplace=True)

In [140]:
df_merged8

,company,region,demand,local_time,utc_time,city,summary,icon,precipIntensity,precipProbability,...,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation
0,ERCO,SCEN,NaN,2018-07-02 00:00:00,2018-07-02 05:00:00,san antonio,Humid,clear-night,0.0,0.0,...,1014.7,9.02,9.02,131.0,0.01,0.0,9.997,NaN,NaN,NaN
1,ERCO,SCEN,NaN,2018-07-02 01:00:00,2018-07-02 06:00:00,san antonio,Humid,clear-night,0.0,0.0,...,1014.7,9.18,9.18,131.0,0.02,0.0,9.976,NaN,NaN,NaN
2,ERCO,SCEN,NaN,2018-07-02 02:00:00,2018-07-02 07:00:00,san antonio,Humid and Mostly Cloudy,partly-cloudy-night,0.0,0.0,...,1014.3,11.20,11.20,141.0,0.75,0.0,9.976,NaN,NaN,NaN
3,ERCO,SCEN,NaN,2018-07-02 03:00:00,2018-07-02 08:00:00,san antonio,Humid and Mostly Cloudy,partly-cloudy-night,0.0,0.0,...,1014.6,8.01,8.01,162.0,0.75,0.0,9.976,NaN,NaN,NaN
4,ERCO,SCEN,NaN,2018-07-02 04:00:00,2018-07-02 09:00:00,san antonio,Humid and Partly Cloudy,partly-cloudy-night,0.0,0.0,...,1013.6,4.81,4.81,181.0,0.45,0.0,9.976,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16498,ERCO,SCEN,NaN,2020-05-19 20:00:00,2020-05-20 01:00:00,san antonio,Clear,clear-day,0.0,0.0,...,1005.5,7.09,13.00,114.0,0.00,0.0,10.000,NaN,290.4,NaN
16499,ERCO,SCEN,NaN,2020-05-19 21:00:00,2020-05-20 02:00:00,san antonio,Clear,clear-night,0.0,0.0,...,1006.0,6.93,14.56,112.0,0.00,0.0,10.000,NaN,290.4,NaN
16500,ERCO,SCEN,NaN,2020-05-19 22:00:00,2020-05-20 03:00:00,san antonio,Clear,clear-night,0.0,0.0,...,1006.3,7.71,16.61,113.0,0.00,0.0,10.000,NaN,290.5,NaN
16501,ERCO,SCEN,NaN,2020-05-19 23:00:00,2020-05-20 04:00:00,san antonio,Humid,clear-night,0.0,0.0,...,1007.2,10.47,18.69,139.0,0.00,0.0,10.000,NaN,290.7,NaN
16502,ERCO,SCEN,NaN,2020-05-20 00:00:00,2020-05-20 05:00:00,san antonio,Humid,clear-night,0.0,0.0,...,1007.3,11.64,22.59,141.0,0.00,0.0,10.000,NaN,291.0,NaN

In [109]:
df9 = pd.read_csv(csv_path1)
df9

,company,region,demand,local_time,utc_time,city
0,NYIS,ZONJ,7269.0,2018-07-01 01:00:00,2018-07-01 05:00:00,nyc
1,NYIS,ZONJ,6977.0,2018-07-01 02:00:00,2018-07-01 06:00:00,nyc
2,NYIS,ZONJ,6725.0,2018-07-01 03:00:00,2018-07-01 07:00:00,nyc
3,NYIS,ZONJ,6539.0,2018-07-01 04:00:00,2018-07-01 08:00:00,nyc
4,NYIS,ZONJ,6415.0,2018-07-01 05:00:00,2018-07-01 09:00:00,nyc
...,...,...,...,...,...,...
132283,CISO,PGAE,11578.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san jose
132284,CISO,PGAE,11782.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san jose
132285,CISO,PGAE,11592.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san jose
132286,CISO,PGAE,11083.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san jose
132287,CISO,PGAE,10506.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san jose

In [111]:
df9 = df9[df9['city'] == 'san diego']
df9

,company,region,demand,local_time,utc_time,city
22085,CISO,SDGE,2023.0,2018-07-01 01:00:00,2018-07-01 08:00:00,san diego
22086,CISO,SDGE,1896.0,2018-07-01 02:00:00,2018-07-01 09:00:00,san diego
22087,CISO,SDGE,1857.0,2018-07-01 03:00:00,2018-07-01 10:00:00,san diego
22088,CISO,SDGE,1825.0,2018-07-01 04:00:00,2018-07-01 11:00:00,san diego
22089,CISO,SDGE,1798.0,2018-07-01 05:00:00,2018-07-01 12:00:00,san diego
...,...,...,...,...,...,...
125565,CISO,SDGE,2220.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san diego
125566,CISO,SDGE,2317.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san diego
125567,CISO,SDGE,2227.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san diego
125568,CISO,SDGE,2056.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san diego
125569,CISO,SDGE,1890.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san diego

In [115]:
# drop index 
df9 = df9.reset_index(drop=True)
df9

,company,region,demand,local_time,utc_time,city
0,CISO,SDGE,2023.0,2018-07-01 01:00:00,2018-07-01 08:00:00,san diego
1,CISO,SDGE,1896.0,2018-07-01 02:00:00,2018-07-01 09:00:00,san diego
2,CISO,SDGE,1857.0,2018-07-01 03:00:00,2018-07-01 10:00:00,san diego
3,CISO,SDGE,1825.0,2018-07-01 04:00:00,2018-07-01 11:00:00,san diego
4,CISO,SDGE,1798.0,2018-07-01 05:00:00,2018-07-01 12:00:00,san diego
...,...,...,...,...,...,...
16531,CISO,SDGE,2220.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san diego
16532,CISO,SDGE,2317.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san diego
16533,CISO,SDGE,2227.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san diego
16534,CISO,SDGE,2056.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san diego
16535,CISO,SDGE,1890.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san diego

In [116]:
# print the type of local_time column 
print(type(df9['utc_time'][0]))

<class 'str'>

In [117]:
# make the local_time column a datetime object
df9['utc_time'] = pd.to_datetime(df9['utc_time'])
df9

,company,region,demand,local_time,utc_time,city
0,CISO,SDGE,2023.0,2018-07-01 01:00:00,2018-07-01 08:00:00,san diego
1,CISO,SDGE,1896.0,2018-07-01 02:00:00,2018-07-01 09:00:00,san diego
2,CISO,SDGE,1857.0,2018-07-01 03:00:00,2018-07-01 10:00:00,san diego
3,CISO,SDGE,1825.0,2018-07-01 04:00:00,2018-07-01 11:00:00,san diego
4,CISO,SDGE,1798.0,2018-07-01 05:00:00,2018-07-01 12:00:00,san diego
...,...,...,...,...,...,...
16531,CISO,SDGE,2220.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san diego
16532,CISO,SDGE,2317.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san diego
16533,CISO,SDGE,2227.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san diego
16534,CISO,SDGE,2056.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san diego
16535,CISO,SDGE,1890.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san diego

In [118]:
print(type(df9['utc_time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [119]:
df_weather9 = pd.read_json('/Volumes/meen/san_diego.json', orient='records')
print(df_weather9)

             time   summary         icon  precipIntensity  precipProbability  \
0      1530428400  Overcast       cloudy              0.0                0.0
1      1530432000  Overcast       cloudy              0.0                0.0
2      1530435600  Overcast       cloudy              0.0                0.0
3      1530439200  Overcast       cloudy              0.0                0.0
4      1530442800  Overcast       cloudy              0.0                0.0
...           ...       ...          ...              ...                ...
16569  1590112800     Clear    clear-day              0.0                0.0
16570  1590116400     Clear  clear-night              0.0                0.0
16571  1590120000     Clear  clear-night              0.0                0.0
16572  1590123600     Clear  clear-night              0.0                0.0
16573  1590127200     Clear  clear-night              0.0                0.0

       temperature  apparentTemperature  dewPoint  humidity  pressure  \
0            61.71                61.71     55.47      0.80    1015.9
1            62.26                62.26     55.50      0.79    1015.7
2            62.27                62.27     55.52      0.79    1015.3
3            62.13                62.13     55.29      0.78    1015.0
4            61.52                61.52     55.84      0.82    1015.2
...            ...                  ...       ...       ...       ...
16569        68.73                68.73     57.75      0.68    1012.1
16570        66.17                66.17     58.35      0.76    1012.2
16571        64.98                64.98     58.65      0.80    1012.6
16572        64.13                64.14     58.83      0.83    1013.2
16573        63.19                63.26     58.99      0.86    1013.1

       windSpeed  windGust  windBearing  cloudCover  uvIndex  visibility  \
0           3.53      3.53        210.0        1.00      0.0       9.969
1           3.06      3.06        231.0        1.00      0.0       9.972
2           4.34      4.34        166.0        1.00      0.0       9.962
3           3.91      3.91        223.0        0.99      0.0       9.943
4           3.37      3.37        207.0        1.00      0.0       9.921
...          ...       ...          ...         ...      ...         ...
16569       4.74      6.59        269.0        0.02      0.0      10.000
16570       3.77      4.58        272.0        0.02      0.0      10.000
16571       2.83      3.40        267.0        0.02      0.0      10.000
16572       2.60      2.60        239.0        0.02      0.0      10.000
16573       2.21      2.54        228.0        0.03      0.0      10.000

      precipType  ozone
0            NaN    NaN
1            NaN    NaN
2            NaN    NaN
3            NaN    NaN
4            NaN    NaN
...          ...    ...
16569        NaN  312.2
16570        NaN  312.1
16571        NaN  312.7
16572        NaN  313.7
16573        NaN  314.9

[16574 rows x 18 columns]

In [125]:
df_weather9['time'] = pd.to_datetime(df_weather9['time'], unit='s')

In [126]:
df_weather9

,time,summary,icon,precipIntensity,precipProbability,temperature,apparentTemperature,dewPoint,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone
0,2018-07-01 07:00:00,Overcast,cloudy,0.0,0.0,61.71,61.71,55.47,0.80,1015.9,3.53,3.53,210.0,1.00,0.0,9.969,NaN,NaN
1,2018-07-01 08:00:00,Overcast,cloudy,0.0,0.0,62.26,62.26,55.50,0.79,1015.7,3.06,3.06,231.0,1.00,0.0,9.972,NaN,NaN
2,2018-07-01 09:00:00,Overcast,cloudy,0.0,0.0,62.27,62.27,55.52,0.79,1015.3,4.34,4.34,166.0,1.00,0.0,9.962,NaN,NaN
3,2018-07-01 10:00:00,Overcast,cloudy,0.0,0.0,62.13,62.13,55.29,0.78,1015.0,3.91,3.91,223.0,0.99,0.0,9.943,NaN,NaN
4,2018-07-01 11:00:00,Overcast,cloudy,0.0,0.0,61.52,61.52,55.84,0.82,1015.2,3.37,3.37,207.0,1.00,0.0,9.921,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16569,2020-05-22 02:00:00,Clear,clear-day,0.0,0.0,68.73,68.73,57.75,0.68,1012.1,4.74,6.59,269.0,0.02,0.0,10.000,NaN,312.2
16570,2020-05-22 03:00:00,Clear,clear-night,0.0,0.0,66.17,66.17,58.35,0.76,1012.2,3.77,4.58,272.0,0.02,0.0,10.000,NaN,312.1
16571,2020-05-22 04:00:00,Clear,clear-night,0.0,0.0,64.98,64.98,58.65,0.80,1012.6,2.83,3.40,267.0,0.02,0.0,10.000,NaN,312.7
16572,2020-05-22 05:00:00,Clear,clear-night,0.0,0.0,64.13,64.14,58.83,0.83,1013.2,2.60,2.60,239.0,0.02,0.0,10.000,NaN,313.7
16573,2020-05-22 06:00:00,Clear,clear-night,0.0,0.0,63.19,63.26,58.99,0.86,1013.1,2.21,2.54,228.0,0.03,0.0,10.000,NaN,314.9

In [127]:
print(type(df_weather9['time'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [142]:
df_merged9 = df9.merge(
    df_weather9,
    left_on='utc_time',
    right_on='time',
    how='inner'
)
df_merged9.drop(columns=['time'], inplace=True)

In [143]:
df_merged9

,company,region,demand,local_time,utc_time,city,summary,icon,precipIntensity,precipProbability,...,humidity,pressure,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone
0,CISO,SDGE,2023.0,2018-07-01 01:00:00,2018-07-01 08:00:00,san diego,Overcast,cloudy,0.0000,0.00,...,0.79,1015.7,3.06,3.06,231.0,1.00,0.0,9.972,NaN,NaN
1,CISO,SDGE,1896.0,2018-07-01 02:00:00,2018-07-01 09:00:00,san diego,Overcast,cloudy,0.0000,0.00,...,0.79,1015.3,4.34,4.34,166.0,1.00,0.0,9.962,NaN,NaN
2,CISO,SDGE,1857.0,2018-07-01 03:00:00,2018-07-01 10:00:00,san diego,Overcast,cloudy,0.0000,0.00,...,0.78,1015.0,3.91,3.91,223.0,0.99,0.0,9.943,NaN,NaN
3,CISO,SDGE,1825.0,2018-07-01 04:00:00,2018-07-01 11:00:00,san diego,Overcast,cloudy,0.0000,0.00,...,0.82,1015.2,3.37,3.37,207.0,1.00,0.0,9.921,NaN,NaN
4,CISO,SDGE,1798.0,2018-07-01 05:00:00,2018-07-01 12:00:00,san diego,Overcast,cloudy,0.0000,0.00,...,0.80,1015.5,2.71,2.71,300.0,1.00,0.0,9.920,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16521,CISO,SDGE,2220.0,2020-05-19 20:00:00,2020-05-20 03:00:00,san diego,Clear,clear-night,0.0000,0.00,...,0.66,1017.3,6.18,9.03,293.0,0.16,0.0,10.000,NaN,324.5
16522,CISO,SDGE,2317.0,2020-05-19 21:00:00,2020-05-20 04:00:00,san diego,Clear,clear-night,0.0009,0.01,...,0.68,1017.7,5.14,7.11,306.0,0.28,0.0,10.000,rain,326.5
16523,CISO,SDGE,2227.0,2020-05-19 22:00:00,2020-05-20 05:00:00,san diego,Clear,clear-night,0.0000,0.00,...,0.70,1018.1,2.93,2.93,294.0,0.22,0.0,10.000,NaN,328.4
16524,CISO,SDGE,2056.0,2020-05-19 23:00:00,2020-05-20 06:00:00,san diego,Partly Cloudy,partly-cloudy-night,0.0000,0.00,...,0.71,1018.2,2.83,3.45,282.0,0.48,0.0,10.000,NaN,329.4
16525,CISO,SDGE,1890.0,2020-05-20 00:00:00,2020-05-20 07:00:00,san diego,Partly Cloudy,partly-cloudy-night,0.0000,0.00,...,0.74,1018.1,2.39,2.90,267.0,0.54,0.0,10.000,NaN,329.5

In [157]:
# put them in a list
dfs = [
    df_merged,
    df_merged1,
    df_merged2,
    df_merged3,
    df_merged4,
    df_merged5,
    df_merged6,
    df_merged7,
    df_merged8,
    df_merged9,
]

# stack them into one big DataFrame
df_all = pd.concat(dfs, ignore_index=True)

# inspect
print(df_all.shape)
print(df_all.city.unique())
df_all.head(50)

(163993, 24)
['seattle' 'phoenix' 'nyc' 'san jose' 'dallas' 'houston' 'la'
 'philadelphia' 'san antonio' 'san diego']

,company,local_time,utc_time,demand,city,summary,icon,precipIntensity,precipProbability,temperature,...,windSpeed,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation,region
0,SCL,2018-07-01 01:00:00,2018-07-01 08:00:00,809.0,seattle,Overcast,cloudy,0.0000,0.00,58.96,...,5.02,5.02,201.0,1.00,0.0,3.775,NaN,NaN,NaN,NaN
1,SCL,2018-07-01 02:00:00,2018-07-01 09:00:00,779.0,seattle,Overcast,cloudy,0.0000,0.00,58.56,...,4.20,4.20,199.0,1.00,0.0,3.560,NaN,NaN,NaN,NaN
2,SCL,2018-07-01 03:00:00,2018-07-01 10:00:00,753.0,seattle,Overcast,cloudy,0.0000,0.00,58.26,...,3.66,3.66,195.0,1.00,0.0,3.482,NaN,NaN,NaN,NaN
3,SCL,2018-07-01 04:00:00,2018-07-01 11:00:00,748.0,seattle,Overcast,cloudy,0.0007,0.15,58.04,...,4.19,4.19,190.0,1.00,0.0,3.351,rain,NaN,NaN,NaN
4,SCL,2018-07-01 05:00:00,2018-07-01 12:00:00,745.0,seattle,Overcast,cloudy,0.0012,0.08,57.73,...,3.78,3.78,184.0,1.00,0.0,2.758,rain,NaN,NaN,NaN
5,SCL,2018-07-01 06:00:00,2018-07-01 13:00:00,749.0,seattle,Overcast,cloudy,0.0011,0.19,57.43,...,3.38,3.38,186.0,1.00,0.0,2.608,rain,NaN,NaN,NaN
6,SCL,2018-07-01 07:00:00,2018-07-01 14:00:00,774.0,seattle,Overcast,cloudy,0.0014,0.17,57.51,...,3.57,3.57,197.0,1.00,0.0,2.570,rain,NaN,NaN,NaN
7,SCL,2018-07-01 08:00:00,2018-07-01 15:00:00,827.0,seattle,Overcast,cloudy,0.0010,0.19,57.97,...,3.81,3.81,196.0,1.00,1.0,2.650,rain,NaN,NaN,NaN
8,SCL,2018-07-01 09:00:00,2018-07-01 16:00:00,881.0,seattle,Overcast,cloudy,0.0011,0.07,57.98,...,4.97,4.97,207.0,0.99,2.0,2.809,rain,NaN,NaN,NaN
9,SCL,2018-07-01 10:00:00,2018-07-01 17:00:00,933.0,seattle,Overcast,cloudy,0.0010,0.08,58.31,...,4.22,4.22,197.0,0.96,3.0,2.761,rain,NaN,NaN,NaN
10,SCL,2018-07-01 11:00:00,2018-07-01 18:00:00,965.0,seattle,Overcast,cloudy,0.0009,0.11,59.44,...,3.76,3.76,206.0,0.99,4.0,3.094,rain,NaN,NaN,NaN
11,SCL,2018-07-01 12:00:00,2018-07-01 19:00:00,982.0,seattle,Overcast,cloudy,0.0000,0.00,60.39,...,5.00,5.00,204.0,0.98,4.0,3.094,NaN,NaN,NaN,NaN
12,SCL,2018-07-01 13:00:00,2018-07-01 20:00:00,978.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,61.33,...,5.35,5.35,189.0,0.82,5.0,2.758,NaN,NaN,NaN,NaN
13,SCL,2018-07-01 14:00:00,2018-07-01 21:00:00,976.0,seattle,Overcast,cloudy,0.0000,0.00,64.30,...,5.09,5.09,214.0,0.90,5.0,2.872,NaN,NaN,NaN,NaN
14,SCL,2018-07-01 15:00:00,2018-07-01 22:00:00,980.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,65.70,...,5.32,5.32,217.0,0.86,5.0,3.094,NaN,NaN,NaN,NaN
15,SCL,2018-07-01 16:00:00,2018-07-01 23:00:00,940.0,seattle,Overcast,cloudy,0.0014,0.05,62.61,...,5.56,5.56,307.0,0.98,4.0,2.507,rain,NaN,NaN,NaN
16,SCL,2018-07-01 17:00:00,2018-07-02 00:00:00,984.0,seattle,Overcast,cloudy,0.0000,0.00,63.13,...,4.51,4.51,335.0,0.99,3.0,3.094,NaN,NaN,NaN,NaN
17,SCL,2018-07-01 18:00:00,2018-07-02 01:00:00,982.0,seattle,Overcast,cloudy,0.0000,0.00,62.28,...,5.37,5.37,352.0,0.92,2.0,3.094,NaN,NaN,NaN,NaN
18,SCL,2018-07-01 19:00:00,2018-07-02 02:00:00,987.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,61.51,...,5.37,5.37,8.0,0.75,1.0,3.033,NaN,NaN,NaN,NaN
19,SCL,2018-07-01 20:00:00,2018-07-02 03:00:00,979.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,59.93,...,5.75,5.75,43.0,0.75,0.0,3.094,NaN,NaN,NaN,NaN
20,SCL,2018-07-01 21:00:00,2018-07-02 04:00:00,975.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,58.65,...,5.41,5.41,53.0,0.76,0.0,3.094,NaN,NaN,NaN,NaN
21,SCL,2018-07-01 22:00:00,2018-07-02 05:00:00,985.0,seattle,Overcast,cloudy,0.0000,0.00,57.95,...,5.17,5.17,52.0,0.98,0.0,3.033,NaN,NaN,NaN,NaN
22,SCL,2018-07-01 23:00:00,2018-07-02 06:00:00,934.0,seattle,Overcast,cloudy,0.0000,0.00,57.20,...,4.97,4.97,73.0,1.00,0.0,3.033,NaN,NaN,NaN,NaN
23,SCL,2018-07-02 00:00:00,2018-07-02 07:00:00,861.0,seattle,Overcast,cloudy,0.0000,0.00,56.70,...,5.26,5.26,76.0,1.00,0.0,3.527,NaN,NaN,NaN,NaN
24,SCL,2018-07-02 01:00:00,2018-07-02 08:00:00,797.0,seattle,Overcast,cloudy,0.0000,0.00,56.09,...,5.25,5.25,77.0,1.00,0.0,3.676,NaN,NaN,NaN,NaN
25,SCL,2018-07-02 02:00:00,2018-07-02 09:00:00,765.0,seattle,Overcast,cloudy,0.0000,0.00,55.64,...,5.14,5.14,80.0,0.98,0.0,3.094,NaN,NaN,NaN,NaN
26,SCL,2018-07-02 03:00:00,2018-07-02 10:00:00,736.0,seattle,Overcast,cloudy,0.0000,0.00,55.24,...,4.80,4.80,96.0,0.98,0.0,3.094,NaN,NaN,NaN,NaN
27,SCL,2018-07-02 04:00:00,2018-07-02 11:00:00,745.0,seattle,Overcast,cloudy,0.0000,0.00,54.61,...,4.53,4.53,86.0,1.00,0.0,3.094,NaN,NaN,NaN,NaN
28,SCL,2018-07-02 05:00:00,2018-07-02 12:00:00,764.0,seattle,Overcast,cloudy,0.0000,0.00,53.97,...,4.55,4.55,98.0,1.00,0.0,3.094,NaN,NaN,NaN,NaN
29,SCL,2018-07-02 06:00:00,2018-07-02 13:00:00,829.0,seattle,Overcast,cloudy,0.0000,0.00,53.33,...,4.26,4.26,101.0,1.00,0.0,3.094,NaN,NaN,NaN,NaN
30,SCL,2018-07-02 07:00:00,2018-07-02 14:00:00,931.0,seattle,Overcast,cloudy,0.0000,0.00,53.65,...,4.10,4.10,133.0,0.90,0.0,3.094,NaN,NaN,NaN,NaN
31,SCL,2018-07-02 08:00:00,2018-07-02 15:00:00,1033.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,54.44,...,4.58,5.33,134.0,0.81,1.0,6.544,NaN,NaN,NaN,NaN
32,SCL,2018-07-02 09:00:00,2018-07-02 16:00:00,1023.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,56.38,...,4.58,4.58,149.0,0.82,2.0,3.094,NaN,NaN,NaN,NaN
33,SCL,2018-07-02 10:00:00,2018-07-02 17:00:00,1051.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,57.59,...,3.72,3.72,142.0,0.79,4.0,3.094,NaN,NaN,NaN,NaN
34,SCL,2018-07-02 11:00:00,2018-07-02 18:00:00,1079.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0534,0.09,58.18,...,3.33,3.33,182.0,0.86,4.0,3.094,rain,NaN,NaN,NaN
35,SCL,2018-07-02 12:00:00,2018-07-02 19:00:00,1104.0,seattle,Overcast,cloudy,0.0000,0.00,60.99,...,3.57,3.57,165.0,0.95,4.0,3.094,NaN,NaN,NaN,NaN
36,SCL,2018-07-02 13:00:00,2018-07-02 20:00:00,1096.0,seattle,Overcast,cloudy,0.0000,0.00,60.99,...,3.77,3.77,139.0,0.95,5.0,3.094,NaN,NaN,NaN,NaN
37,SCL,2018-07-02 14:00:00,2018-07-02 21:00:00,1082.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,63.52,...,5.02,5.02,292.0,0.80,5.0,3.094,NaN,NaN,NaN,NaN
38,SCL,2018-07-02 15:00:00,2018-07-02 22:00:00,1093.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,64.68,...,4.50,4.50,352.0,0.68,5.0,3.129,NaN,NaN,NaN,NaN
39,SCL,2018-07-02 16:00:00,2018-07-02 23:00:00,1077.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,66.06,...,4.13,4.13,336.0,0.82,4.0,3.094,NaN,NaN,NaN,NaN
40,SCL,2018-07-02 17:00:00,2018-07-03 00:00:00,1073.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,67.28,...,3.58,3.58,339.0,0.80,3.0,3.094,NaN,NaN,NaN,NaN
41,SCL,2018-07-02 18:00:00,2018-07-03 01:00:00,1082.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,66.33,...,5.16,5.16,323.0,0.76,2.0,3.094,NaN,NaN,NaN,NaN
42,SCL,2018-07-02 19:00:00,2018-07-03 02:00:00,1051.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,65.25,...,4.37,4.37,351.0,0.68,1.0,3.094,NaN,NaN,NaN,NaN
43,SCL,2018-07-02 20:00:00,2018-07-03 03:00:00,1031.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0000,0.00,64.28,...,4.22,4.22,328.0,0.67,0.0,3.094,NaN,NaN,NaN,NaN
44,SCL,2018-07-02 21:00:00,2018-07-03 04:00:00,1004.0,seattle,Clear,clear-day,0.0000,0.00,61.97,...,4.81,4.81,321.0,0.24,0.0,3.094,NaN,NaN,NaN,NaN
45,SCL,2018-07-02 22:00:00,2018-07-03 05:00:00,1008.0,seattle,Clear,clear-night,0.0000,0.00,59.88,...,4.07,4.07,338.0,0.07,0.0,3.033,NaN,NaN,NaN,NaN
46,SCL,2018-07-02 23:00:00,2018-07-03 06:00:00,963.0,seattle,Clear,clear-night,0.0000,0.00,58.46,...,3.50,3.50,3.0,0.03,0.0,3.033,NaN,NaN,NaN,NaN
47,SCL,2018-07-03 00:00:00,2018-07-03 07:00:00,872.0,seattle,Clear,clear-night,0.0000,0.00,56.35,...,2.83,2.83,68.0,0.00,0.0,3.033,NaN,NaN,NaN,NaN
48,SCL,2018-07-03 01:00:00,2018-07-03 08:00:00,802.0,seattle,Clear,clear-night,0.0000,0.00,53.69,...,2.25,2.25,329.0,0.00,0.0,3.215,NaN,NaN,NaN,NaN
49,SCL,2018-07-03 02:00:00,2018-07-03 09:00:00,775.0,seattle,Clear,clear-night,0.0000,0.00,53.73,...,2.40,2.40,227.0,0.07,0.0,3.094,NaN,NaN,NaN,NaN

In [158]:
print(os.listdir('/Volumes'))

['MACOS', 'meen']

In [159]:
csv_path = '/Volumes/meen/all_cities.csv'
df_all.to_csv(csv_path, index=False)
print(f"Saved to {csv_path}")

Saved to /Volumes/meen/all_cities.csv

## 🎯 Sampling for Balanced Analysis

To keep modelling fast and ensure each city is equally represented:
1. Create a `period` column (e.g. `'YYYY-MM'`) from the UTC timestamp.  
2. **Stratified sampling** within each city on that `period` to pull **5,000 rows per city**.  
3. Re‐concatenate those samples into a single 50,000‐row DataFrame `df_sample`.

In [162]:
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit

# 1) Make sure you have a 'period' column—for example, “YYYY-MM”:
df_all['period'] = df_all['utc_time'].dt.to_period('M').astype(str)

# 2) Loop over each city, stratifying by that period:
samples = []
for city, city_df in df_all.groupby('city'):
    # set up a stratified splitter to draw 5 000 rows
    sss = StratifiedShuffleSplit(n_splits=1, train_size=5000, random_state=42)
    
    # split returns indices of the “train” set we want
    train_idx, _ = next(sss.split(city_df, city_df['period']))
    
    # grab those 5 000 rows for this city
    samples.append(city_df.iloc[train_idx])

# 3) concatenate all ten cities back into one DataFrame
df_sample = pd.concat(samples, ignore_index=True)

# sanity check
print(df_sample.shape)             # should be (50000, …)
print(df_sample['city'].value_counts())  
print(df_sample.groupby('city')['period'].value_counts(normalize=True).head(12))
df_sample.tail(100)

(50000, 25)
city
dallas          5000
houston         5000
la              5000
nyc             5000
philadelphia    5000
phoenix         5000
san antonio     5000
san diego       5000
san jose        5000
seattle         5000
Name: count, dtype: int64
city    period
dallas  2020-03    0.0452
        2019-07    0.0452
        2020-01    0.0452
        2018-10    0.0452
        2018-08    0.0450
        2019-12    0.0450
        2019-08    0.0450
        2018-12    0.0450
        2019-01    0.0450
        2019-03    0.0450
        2019-05    0.0450
        2019-10    0.0450
Name: proportion, dtype: float64

,company,local_time,utc_time,demand,city,summary,icon,precipIntensity,precipProbability,temperature,...,windGust,windBearing,cloudCover,uvIndex,visibility,precipType,ozone,precipAccumulation,region,period
49900,SCL,2020-01-02 07:00:00,2020-01-02 15:00:00,1204.0,seattle,Mostly Cloudy,partly-cloudy-night,0.0003,0.16,40.05,...,6.07,151.0,0.60,0.0,10.000,rain,360.9,NaN,NaN,2020-01
49901,SCL,2019-02-08 09:00:00,2019-02-08 17:00:00,1663.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0110,0.13,32.45,...,6.32,144.0,0.86,0.0,7.335,snow,452.6,0.0863,NaN,2019-02
49902,SCL,2020-04-01 11:00:00,2020-04-01 18:00:00,1249.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0031,0.20,44.07,...,2.81,334.0,0.81,2.0,9.738,rain,473.6,NaN,NaN,2020-04
49903,SCL,2020-04-19 08:00:00,2020-04-19 15:00:00,835.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0018,0.03,48.79,...,4.42,174.0,0.65,1.0,10.000,rain,348.5,NaN,NaN,2020-04
49904,SCL,2019-01-27 11:00:00,2019-01-27 19:00:00,1314.0,seattle,Mostly Cloudy,partly-cloudy-day,0.0003,0.01,41.15,...,7.52,13.0,0.74,1.0,7.568,rain,255.1,NaN,NaN,2019-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,SCL,2018-09-08 13:00:00,2018-09-08 20:00:00,1024.0,seattle,Overcast,cloudy,0.0000,0.00,64.87,...,7.66,189.0,0.93,4.0,3.275,NaN,NaN,NaN,NaN,2018-09
49996,SCL,2019-04-03 10:00:00,2019-04-03 17:00:00,1106.0,seattle,Possible Light Rain,rain,0.0334,0.57,53.58,...,19.51,179.0,0.94,2.0,9.184,rain,326.9,NaN,NaN,2019-04
49997,SCL,2019-04-10 00:00:00,2019-04-10 07:00:00,885.0,seattle,Mostly Cloudy,partly-cloudy-night,0.0007,0.03,47.91,...,5.74,131.0,0.81,0.0,9.285,rain,426.5,NaN,NaN,2019-04
49998,SCL,2019-08-07 01:00:00,2019-08-07 08:00:00,813.0,seattle,Clear,clear-night,0.0011,0.01,63.43,...,3.44,149.0,0.03,0.0,10.000,rain,295.8,NaN,NaN,2019-08
49999,SCL,2018-09-22 05:00:00,2018-09-22 12:00:00,761.0,seattle,Overcast,cloudy,0.0009,0.15,60.31,...,12.84,156.0,0.96,0.0,3.182,rain,NaN,NaN,NaN,2018-09

In [163]:
csv_path = '/Volumes/meen/sampled_data.csv'
df_sample.to_csv(csv_path, index=False)
print(f"Saved sample to {csv_path}")

Saved sample to /Volumes/meen/sampled_data.csv